# this file can be place at .ngrok2/ngrok.yml

authtoken: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx4
log: stdout
tunnels:
  gocarlgo-rails:
    addr: 3330
    proto: http
    bind_tls: true
    subdomain: my_ngrok_rails_domain
  gocarlgo-webpack:
    addr: 3035
    proto: http
    bind_tls: true
    subdomain: my_ngrok_webpack_domain
    host-header: localhost:3035
~ %

