<div class="backstage">
    <%= render 'backstage/sidebar' %>

    <section id="main-dashboard-content">
      <section id="top-section">
        <h1>Backstage::MeetupInfo#edit</h1>
      </section>
      <section id="grid-container">
        <%= render 'form', book_info: @book_info %>

      </section>
    </section>
</div>
