  <div class="col-xs-12 col-sm-7">
    <div class="gv-post-avatar"><img alt="Team GaryVee"
         class="avatar avatar-96 wp-user-avatar wp-user-avatar-96 alignnone photo"
         height="96"
         src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20181207140808/29354463_2092654761015467_4817767325464077591_o-120x120.jpg"
         width="96"></div>
    <div class="gv-post-author-links">
      <h5 class="gv-h-slab">by <a class="link-blue link-www"
         href=""
         target="_blank"><%= author.name.full %> </a></h5>
      <h5 class="gv-h-slab">
        <a class="sl-twitter"
          href="http://twitter.com/teamgaryvee"
          target="_blank">
          <span class="sl-twitter-handle">
            <%= author.twitter_handle %> 
          </span>
        </a>
      </h5>
    </div>
  </div>
