<% blog_article = @blog_entry.articles.first %>

<%= render 'headline' %> 
<div class="gv-post-author row">
    <%= render partial: 'author' %>

    <%#= render 'sharing_top_bar' %>
</div>
<% if   blog_article.present? %>
    <%= render  partial: 'entry_content', locals: {blog_article: blog_article} %>
<% else %>
    <p>no article attached</p>
<% end %>


<div class="ct-post-footer">
    <%#= render 'post_sharing' %>
    <%#= render 'entry_comments' %>
    <%#= render 'entry_tags' %>
</div>
<div class="ct-post-suggested">
    <h3 class="ct-h-welter50">
        Check this out
    </h3>
    <% @recommended_entries  = @blog_entry.recommended_entries %>
    <%= render @recommended_entries  %>
</div>
                