
<%= render 'headline' %> 
<% if   @blog_entry.article.present? %>

<div class="gv-post-author row">
        <%= render partial: 'author',
        locals: {blog_article: @blog_entry.article} %>      
    <%#= render 'sharing_top_bar' %>
</div>
    <%= render  partial: 'entry_content', 
    locals: {blog_article: @blog_entry.article} %>
<% else %>
    <h4>no article attached</h4>
    <%= link_to 'Create and attach article', new_blog_article_path %>
<% end %>


<div class="ct-post-footer">
    <%#= render 'post_sharing' %>
    <%#= render 'entry_comments' %>
    <%#= render 'entry_tags' %>
</div>
<div class="ct-post-suggested">
    <h3 class="ct-h-welter50">
        Check this out
    </h3>
    <%# @recommended_entries  = @blog_entry.recommended_entries %>
    <%#= render @recommended_entries  %>
</div>
                