<div class="ct-post-tags">
    <a href="https://www.garyvaynerchuk.com/category/business/" class="link-blue">#Business</a>
    <a href="https://www.garyvaynerchuk.com/category/leadership/" class="link-blue">#Leadership</a>
</div>
