<ul class="ct-post-sharing sidebar init" data-top="864.333" style="margin-top: 310px; left: 55px;">
        <li class="ct-sharing-item">
            <a href="#" data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/" data-platform="facebook" class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-fb" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="ct-sharing-item">
            <a href="#" data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/" data-platform="twitter" class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-tw" title="Tweet on Twitter"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="ct-sharing-item">
            <a href="#" data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/" data-platform="linkedin" class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-in" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a>
        </li>
                <li class="ct-sharing-item">
            <a href="#" data-title="Digital Fundraising During Coronavirus" data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/" data-platform="pinterest" data-media="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200901170243/IMG_A2E82CF68D29-1.jpeg" class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-pin" title="Share on Pinterest"><i class="fab fa-pinterest"></i></a>
        </li>
        <li class="ct-sharing-item">
            <a href="#overlay-share|modal-open" class="ct-btn ct-btn-block ct-btn-black ct-modal-ctrl" title="Share">
                <i class="fas fa-share"></i>
            </a>
        </li>
    </ul>