<div class="ct-post-content clearfix">
                        
    <p><br>Recently, interest in fundraising for just causes has increased. Although there are many people who would give money, or time, to support social change, they often struggle to find organizations they wholeheartedly trust. The issue often lies with how nonprofits present themselves and interact with potential donors. We discussed this with Gary Vaynerchuk who expanded on his <a href="https://www.youtube.com/watch?v=v-Z5wKjxQpM">previous thoughts</a> concerning effective, nonprofit fundraising strategies.</p>



    <span id="more-10701"></span>



    <h2><strong>What are common mistakes nonprofits make when trying to secure donations?</strong></h2>



    <p><strong>Gary:</strong> First and foremost, they have to understand that guilt and [charities] feeling entitled to donations is the main reason that most nonprofits are poor marketers and communicators. What a lot of nonprofits tend to miss is: there’s a lot of places people can donate. I’ve had people pitch to me and … anytime somebody basically says, and sometimes verbatim, “you have to”, I always laugh in my mind.</p>



    <p>[They] know nothing about me. They’ve asked no questions about me, my background, or the causes I would be passionate to support. For example, I’m very big on<a href="https://pencilsofpromise.org/"> Pencils of Promise</a>, [a nonprofit] which builds schools in Ghana, Guatemala, and places of that nature. People find that ironic because I talk about school in a way that makes them miss the point.&nbsp;</p>



    <h2><strong>What is your point, when you talk about school and the education system?</strong></h2>



    <p><strong>Gary</strong>: My point is school is not an engine of happiness, success, or fulfilment for an enormous amount of people. Yet we have basically told everybody that this is the machine that takes you there. On the flip side, [school] is for a lot of people. In a lot of places, especially outside of the US, school<em> is</em> the gateway to happiness and fulfillment. So, for me, as an entrepreneur in the United States, it may have not been right. But, for a young boy or girl in Guatemala, who would otherwise be working and not in school or would occasionally meet [with someone who may not be qualified to teach]–a school structure is the springboard to her happiness. I have a lot of passion for Pencils of Promise because I see schools in third world countries almost the same way I see entrepreneurship in America.&nbsp;</p>



    <h2><strong>How does this relate to non-profit fundraising?</strong></h2>



    <p><strong>Gary:</strong> I tell that story because 1) you have to reverse engineer the person you’re asking to donate. However,&nbsp; when you’re reverse engineering, don’t just [write someone off]. It would make sense to me if a lot of school oriented nonprofits wouldn’t have asked for a donation. Yet, the [nonprofit] I’m most active on, and the one that I’ve given the most money to, is [school oriented].&nbsp;</p>



    <p>2) <a href="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/">Volume is so important.</a> Nonprofits have to become dramatically better storytellers on this [mobile] device. The opportunities are unbelievable. The nonprofit that wins TikTok is gonna be one of the biggest nonprofits over the next 20 years. Why? Because they’re going to win the hearts and minds of 15- to 17-year-olds, who eventually become 35-year-olds that donate.&nbsp;</p>



    <p>I want to say this for sure — one of the greatest, admirable aspects of Gen Z is that they’re also the generation that isn’t going to wait until they have a lot of money to give. They’re giving $6 out of their $100 right now.&nbsp;</p>



    <h2><strong>How about creating experiences?</strong></h2>



    <p><strong>Gary:</strong> For experiences, I believe the biggest opportunity– in marketing in general, let alone for nonprofits–is access. Many nonprofits have a lot of famous donors. They tend to use them in content, like once a year (to be the MC of their fundraiser or end of the year gala). I think they should be using these celebrities for access.&nbsp;</p>



    <p>For example, if they’re lucky enough to have Leonardo DiCaprio or Beyonce care and be involved in their nonprofit, bring them on a two-hour Zoom where they just answer questions and take virtual selfies. That will bring in a hell of a lot more money than having them featured in your TV commercial. Access, virtually, is the future.&nbsp;</p>



    <h2><strong>Do you think it will be easier or harder for nonprofits to fundraise in the digital space?</strong></h2>



    <p><strong>Gary:</strong> I think it would be easier if they understood how to take advantage of it.&nbsp; You know the reason [we’ve] seen micro growth [of certain companies] during the internet [age] is because we’ve seen companies come along that understand it. Facebook, Twitter, and other brands of that nature–Warby Parker even. The reason we’ve seen people lose market share is because we haven’t seen them take advantage of that infrastructure. <a href="https://www.nytimes.com/2020/08/02/business/Lord-and-Taylor-Bankruptcy.html">Lord and Taylor</a>, which just went out of business as a retailer and Blackberry is <a href="https://www.businessinsider.com/blackberry-smartphone-rise-fall-mobile-failure-innovate-2019-11">another example</a>.&nbsp;</p>



    <p>The answer is yes, I do. If they actually become digitally native.&nbsp;</p>



    <h2><strong>Do you think it’s going to be easier or more difficult to fundraise post Covid?</strong></h2>



    <p><strong>Gary:</strong> I think both. I think people have become more empathic between the Covid pandemic and the Black Lives Matter movement. There’s an empathy rise and I think people will be more open [to donating]. On the flip side, I think there’s an underling potential for a deep recession and anytime economic things get crushed, people do give a little less.</p>



    <h2><strong>Do you have an idea on how Charity Water or Pencils for Promise can increase their fundraising during Covid?</strong></h2>



    <p><strong>Gary:</strong> More digital content and more digital access. Period, end of story.</p>



    <p></p>



    <p><em>That’s All For Now VaynerNation. If you liked this article, please share it on <a href="http://Twitter.com">Twitter</a> 🙂</em></p>
</div>