                               <div class="ct-widget clearfix">
            <div class="ct-widget-mailinglist sidebar">
                <h2 class="h1 text-right"><p>Subscribe <span class="nobreak">for access</span> <span class="nobreak">to exclusive</span> content.</p>
</h2>
                <div class="ct-form">
                    <div class="ct-widget-alert"><span class="message">Lorem Ipsum Dolor Test</span><a href="#alert:dismiss" class="ct-widget-ctrl close">×</a></div>                    <form name="ct-mc-sidebar">
                        <div class="clear text-right">
                            <a href="http://eepurl.com/LY3M5" target="_blank" class="ct-btn ct-btn-red">Subscribe</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="gv_widgets_socialprops-2" class="ct-widget ct-widget-socialprops clearfix text-center"><div class="sidebar-c-5">            <span class="wrap-social-item">
                <a class="sp-circle sp-facebook" href="http://facebook.com/gary" alt="" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-youtube" href="https://www.youtube.com/user/garyvaynerchuk?sub_confirmation=1" alt="" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-instagram" href="http://instagram.com/garyvee" alt="" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-twitter" href="http://twitter.com/garyvee" alt="" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-snapchat" href="http://snapchat.com/add/garyvee" alt="" target="_blank">
                    <i class="fa fa-snapchat"></i>
                </a>
            </span>
        </div></div>        <div class="ct-widget ct-widget-articleunit">
            <div class="ct-articleunit">
                <h4 class="ct-h-welter50 text-right">
                    Must Read                </h4>
                <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                        <a href="https://www.garyvaynerchuk.com/the-rise-of-audio-branding/">
                            <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20190203155101/AudioBranding_BLOG_IMG-400x234.jpeg" class="attachment-ad-unit-size size-ad-unit-size wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20190203155101/AudioBranding_BLOG_IMG-400x234.jpeg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20190203155101/AudioBranding_BLOG_IMG-300x175.jpeg 300w" sizes="(max-width: 400px) 100vw, 400px">                        </a>
                    </div>
                    <h3 class="h2 ct-liner-simple">
                        <a href="https://www.garyvaynerchuk.com/the-rise-of-audio-branding/">
                            The Rise of Audio Branding                        </a>
                    </h3>
                </div>
                <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">
                        Feb 03, 2019                    </span>
                    <a href="https://www.garyvaynerchuk.com/the-rise-of-audio-branding/">
                        Read Now &gt;&gt;                    </a>
                </div>
            </div>
        </div>
            <div class="ct-widget ct-widget-articleunit">
            <div class="ct-articleunit">
                <h4 class="ct-h-welter50 text-right">
                    Must Read                </h4>
                <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                        <a href="https://www.garyvaynerchuk.com/the-top-20-podcasts-from-the-garyvee-audio-experience/">
                            <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180924202018/top20podcasts_article_thumbnailArtboard_1-400x234.jpg" class="attachment-ad-unit-size size-ad-unit-size wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180924202018/top20podcasts_article_thumbnailArtboard_1-400x234.jpg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180924202018/top20podcasts_article_thumbnailArtboard_1-300x175.jpg 300w" sizes="(max-width: 400px) 100vw, 400px">                        </a>
                    </div>
                    <h3 class="h2 ct-liner-simple">
                        <a href="https://www.garyvaynerchuk.com/the-top-20-podcasts-from-the-garyvee-audio-experience/">
                            The Top 20 Podcasts From The GaryVee Audio Experience                        </a>
                    </h3>
                </div>
                <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">
                        Sep 21, 2018                    </span>
                    <a href="https://www.garyvaynerchuk.com/the-top-20-podcasts-from-the-garyvee-audio-experience/">
                        Read Now &gt;&gt;                    </a>
                </div>
            </div>
        </div>
            <div class="clearfix"></div>
        <div class="ct-widget ct-widget-events theme-black">
            <h3 class="h1">
                Upcoming Events            </h3>
            <div class="event-listing">
            
                <div class="clearfix event event-2-col">
                                        <a href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 ct-h-welter50">
                                Dec                            </div>
                            <div class="h2 ct-h-welter50">
                                09                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">Sage Summit US 2020</h3>
                            <h4 class="event-location">Orlando, FL</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2" class="event-linker" target="_blank">
                            </a><a href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2" target="_blank" class="ct-btn ct-btn-blue ct-btn-block">Info</a>
                        </div>
                                                            </div>
            
                <div class="clearfix event event-2-col">
                                        <a href="http://garyveeinlondon.com" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 ct-h-welter50">
                                Jan                            </div>
                            <div class="h2 ct-h-welter50">
                                09                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">Create Your Own Economy</h3>
                            <h4 class="event-location">London, UK</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="http://garyveeinlondon.com" class="event-linker" target="_blank">
                            </a><a href="http://garyveeinlondon.com" target="_blank" class="ct-btn ct-btn-blue ct-btn-block">Info</a>
                        </div>
                                                            </div>
            
                <div class="clearfix event event-2-col">
                                        <a href="https://nobull2020.com/" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 ct-h-welter50">
                                Apr                            </div>
                            <div class="h2 ct-h-welter50">
                                08                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">The No Bull Business Conference</h3>
                            <h4 class="event-location">Syracuse, NY</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="https://nobull2020.com/" class="event-linker" target="_blank">
                            </a><a href="https://nobull2020.com/" target="_blank" class="ct-btn ct-btn-blue ct-btn-block">Info</a>
                        </div>
                                                            </div>
            
                <div class="clearfix event event-2-col">
                                        <a href="https://arecconference.com.au/" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 ct-h-welter50">
                                May                            </div>
                            <div class="h2 ct-h-welter50">
                                31                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">AREC 2021 – Via Video Conference</h3>
                            <h4 class="event-location">Gold Coast, Australia</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="https://arecconference.com.au/" class="event-linker" target="_blank">
                            </a><a href="https://arecconference.com.au/" target="_blank" class="ct-btn ct-btn-blue ct-btn-block">Info</a>
                        </div>
                                                            </div>
                        </div>
            <div class="event-widget-footer text-center">
                                                <a href="#" id="cal-reply-subscribe" class="ct-btn ct-btn-blue ct-btn-block" target="_blank" title="Subscribe on CalReply">
                    <i class="fa fa-calendar-check-o hidden-md"></i>&nbsp;&nbsp;Get Notifications
                </a>
                            </div>
                    </div>
                    