  <div class="col-xs-12 col-sm-5">
    <div class="ct-post-sharing topbar">
      <div class="row">
        <div class="col-xs-3">
          <a class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-fb"
               data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/"
               data-platform="facebook"
               href="#"
               title="Share on Facebook">
               <i class="fab fa-facebook"></i>
               </a>
        </div>
        <div class="col-xs-3">
          <a class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-tw"
               data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/"
               data-platform="twitter"
               href="#"
               title="Tweet on Twitter">
               <i class="fab fa-twitter"></i>
               </a>
        </div>
        <div class="col-xs-3">
          <a class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-in"
               data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/"
               data-platform="linkedin"
               href="#"
               title="Share on LinkedIn">
               <i class="fab fa-linkedin"></i>
               </a>
        </div>
        <div class="col-xs-3">
          <a class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-pin"
               data-permalink="https://www.garyvaynerchuk.com/digital-fundraising-in-a-post-covid-world/"
               data-platform="pinterest"
               href="#"
               title="Share on Pinterest">
               <i class="fab fa-pinterest"></i>
               </a>
        </div>
      </div>
    </div>
    <h6 class="ct-h-slab ct-post-date text-right">2 months ago <span class="middot">·</span> 5 min read</h6>
  </div>
