  <article class="ct-post post-10048 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-content"
           id="post-10048">
    <div class="ct-post-img">
        <%= link_to suggested_entry do %>
        <%= image_tag entry.image.variant(resize_to_limit: [768, 614]), size: "768x614" %>
<%# 
          <img alt=""
             class="attachment-large size-large wp-post-image"
             sizes="(max-width: 700px) 100vw, 700px"
             src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-700x560.png"
             srcset=
             "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-700x560.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-250x200.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-768x614.png 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-120x96.png 120w">
         %>
        <% end %>
      <a href="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/"><img alt=""
           class="attachment-large size-large wp-post-image"
           sizes="(max-width: 700px) 100vw, 700px"
           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-700x560.png"
           srcset=
           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-700x560.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-250x200.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-768x614.png 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-120x96.png 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1.png 1400w"></a>
    </div>
    <div class="row clearfix ct-post-sharemeta">
      <div class="col-sm-5 col-md-6 ct-post-tags">
        <a class="link-blue"
             href="https://www.garyvaynerchuk.com/category/business/">#Business</a> <a class="ct-btn ct-btn-white ct-post-mobileshare pull-right visible-xs-inline-block"
             data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/"
             href="#">Share </a>
      </div>
      <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
        <div class="ct-post-sharing hidden-xs">
          <div class="row">
            <div class="col-xs-4">
              <a class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-fb"
                   data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/"
                   data-platform="facebook"
                   href="#"
                   title="Share on Facebook"></a>
            </div>
            <div class="col-xs-4">
              <a class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-tw"
                   data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/"
                   data-platform="twitter"
                   href="#"
                   title="Tweet on Twitter"></a>
            </div>
            <div class="col-xs-4">
              <a class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-in"
                   data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/"
                   data-platform="linkedin"
                   href="#"
                   title="Share on LinkedIn"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-sm-6">
        <h1 class="ct-ctrl-title ct-post-title ct-liner-simple"><a href="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/">
        <%= suggested_entry.title%> </a></h1>
      </div>
      <div class="col-sm-6 text-left">
        <h5 class="ct-h-slab ct-post-date">12 months ago <span class="middot">·</span> 2 min read</h5>
        <p>In my continued efforts to bring the most value to the entrepreneurs, operators, and marketers of the world, today on my 44th birthday, I’m releasing a deck that the team and I have worked on extensively over the last couple of
        months.&nbsp; ...</p>
        <p><a class="ct-post-permalink link-blue"
           href="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/">Read More &gt;&gt;</a></p>
      </div>
    </div>
  </article>
