<article id="post-10701" class="post-10701 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-leadership">
  <%= render 'billboard' %>
  <%= render 'entry_sharing_sidebar' %>
  <div class="ct-single-wrapper">
    <div class="container">
      <div class="row">
        <div class="ct-single-content col-md-8">
          <%= render 'content' %>
          &nbsp;
        </div>
          <%= render '/shared/aside' %>
      </div>
    </div>
  </div>
</article>
