<% set_meta_tags title: "#{@blog_entry.id} #{@blog_entry.title}",
                 description: "Information and patch issues from #{@blog_entry.id} #{@blog_entry.title}",
                 keywords: (%W[ web software development mobile app] + @blog_entry.tag_list),
                 image_src: ("https://pbs.twimg.com/media/EqSNJ8NU8AIgUQS?format=jpg&name=small"),
                 og: {
                   title:     "#{@blog_entry.title} |  #{@site.general_info.plain_text_name}",
                   image:     ("https://pbs.twimg.com/media/EqSNJ8NU8AIgUQS?format=jpg&name=small")
                 } %>
<% @sidebar_icons        = PublisherAcct.sidebar_icons.first(5) %>
<article id="post-10701" class="post-10701 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-leadership">
  
  <%= render 'billboard', locals: {billboard_image: @blog_entry.image } %>
  <%= render 'entry_sharing_sidebar' %>
  <div class="ct-single-wrapper">
    <div class="container">
      <div class="row">
        <div class="ct-single-content col-md-8">
          <%= render partial: 'content', 
              locals: {blog_article: @blog_article } 
          %>
        </div>
              <%= render partial: '/shared/aside', 
              locals: { sidebar_icons: @sidebar_icons } %>
      </div>
    </div>
  </div>
</article>
