
      <section id="top-section">
        <h1>Create an entry for FirstTime</h1>
      </section>
      <section class="first-time-form">
        <%= render 'form', first_time_entry: @first_time_entry %>
      </section>
