


<div class="row">
  <div class="col-sm-6">
    <h1>Broadcaster_avatars</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_broadcaster_avatar_path, class: 'btn btn-primary' do %>
    Add New Avatar
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            
      </tr>
    </thead>

    <tbody>
      <% @broadcaster_avatars.each do |broadcaster_avatar| %>
        <%= content_tag :tr, id: dom_id(broadcaster_avatar), class: dom_class(broadcaster_avatar) do %>
          
            <td><%= link_to broadcaster_avatar.name, broadcaster_avatar %></td>
          

                      <td><%= broadcaster_avatar.description %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
