<% billboard_image_filename = "press_kit_hero.jpg" %>
<%= render partial: '/shared/static_billboard', locals: { image_filename: billboard_image_filename } %>



<div class="row">
  <div class="col-sm-6">
    <h1>Press_kits</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_press_kit_path, class: 'btn btn-primary' do %>
    Add New Press kit
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @press_kits.each do |press_kit| %>
        <%= content_tag :tr, id: dom_id(press_kit), class: dom_class(press_kit) do %>
          

          
          
            <td><%= link_to 'Show', press_kit %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
