<section id="main-dashboard-content">
<section id="top-section">
  <h1>Backstage::HomeInfo#edit</h1>
</section>
<section id="form-container">
  <%= render 'form', home_info: @home_info %>

</section>
