      <section id="top-section">


  <div class="row">
    <div class="col-sm-6">
      <h1>Photos</h1>
      <p>
        Upload images into the site's cloud and use the image's link (URL) anywhere.
      </p>
    </div>

    <div class="col-sm-6 text-right">
    <%= link_to new_backstage_photo_path, class: 'btn btn-primary' do %>
      Add New Photo
    <% end %>
    </div>
  </div>
</section>


  <%# responsive css grid start %>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="responsive-listing">
  <div class="grid">
    <%= render @photos %>    
  </div>
</section>
<%# responsive css grid finish %>


