


<div class="row">
  <div class="col-sm-6">
    <h1>Wallpapers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_wallpaper_path, class: 'btn btn-primary' do %>
    Add New Wallpaper
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Device size</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @wallpapers.each do |wallpaper| %>
        <%= content_tag :tr, id: dom_id(wallpaper), class: dom_class(wallpaper) do %>
          

                      <td><%= wallpaper.title %></td>
                      <td><%= wallpaper.device_size %></td>
          
          
            <td><%= link_to 'Show', wallpaper %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
