.ct-widget-bg {
    color: #fff;
    background: #000 url(asset_path("bg-widget.gif")) repeat 0 0;
}
.ct-widget-mailinglist .ct-widget-content {
    width: 100%;
    height: 100%;
    z-index: 600;
    position: relative;

    h1 {
        font-size: 3rem;
    }
}
.ct-widget-mailinglist.sidebar {
    background: #000;
    padding: 20px;
    color: #fff;
}
.ct-widget-mailinglist.sidebar h2 {
    margin-top: 0;
}
.ct-widget-mailinglist.horizontal .ct-form .ct-btn-block {
    width: 100%;
}
@media (min-width: 992px) {
    .ct-widget-mailinglist.horizontal .ct-form {
        padding-top: 0;
    }
}
.ct-widget-mailinglist.popup .ct-form {
    padding: 0;
}
