<div id="top">&nbsp;</div>

<section id="top-section">
  <h1>PublisherAccounts</h1> 
  &nbsp;&nbsp;
  <%= link_to 'new', 
      new_backstage_publisher_acct_path, 
      class: "btn btn-primary" %>
</section>

<a href="#social_accts">Show Social Accounts</a>&nbsp;|&nbsp;<a href="#podcast_accts">Show Podcasts</a>

<%# responsive css grid start %>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="responsive-listing">
  <h3 id="social_accts">Social Accounts</h3>

  <div class="grid">
    <%= render partial: "social_account", collection: @social_accounts %>          

  </div>
</section>
<%# responsive css grid finish %>

<a href="#social_accts">Show Social Accounts</a>&nbsp;|&nbsp;<a href="#podcast_accts">Show Podcasts</a>

<%# responsive css grid start %>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>

<section class="responsive-listing">
  <h3 id="podcast_accts">Podcast Accounts</h3>

  <div class="grid">
    <%= render partial: "podcast_account", collection: @podcast_accounts %>          

  </div>
</section>
<%# responsive css grid finish %>

              <a href="#social_accts">go to top of page</a>&nbsp;|&nbsp;<a href="#social_accts">Show Social Accounts</a>&nbsp;|&nbsp;<a href="#podcast_accts">Show Podcasts</a>
