<div class="col-lg-4 ct-global-sidebar">
    <%= render '/shared/aside/subscribe_widget' %>
    <%= render '/shared/aside/social_btns' %>
    <% 3.times.each do %>
        <%= render '/shared/aside/featured_blog_entry' %>    
    <% end %>

    <div class="clearfix"></div>
    <%= render '/shared/aside/meetups' %>
</div>
<!-- finish global-sidebar -->