<style>

</style>

<footer id="gv-main-footer" class="gv-widget-wrapper gv-widget-fulllength gv-footer">
    <div class="container  ct-footer-container">

        <div class="gv-mark-type ct-mark-type">
            <a href="/" class="no-hover">Carl&nbsp;Tanner</a>
        </div>
        <div class="gv-nav-footer ct-nav-footer">
            <ul id="menu-footer-menu" class="menu">
                <li id="menu-item-2095" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-2095"><a href="/" aria-current="page">Home</a></li>
                <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="/blog/">Blog</a></li>
                <li id="menu-item-7096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7096"><a href="/podcast/">Podcast</a></li>
                <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="/events/">Events</a></li>
                <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="/media-appearances/">Recent Press</a></li>
                <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="/books/">Books</a></li>
                <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="/hire-me/">Hire Me to Speak</a></li>
                <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="/biography/">My Story</a></li>
                <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="/press-kit/">Press Kit</a></li>
                <li id="menu-item-6528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6528"><a href="/first-time-here/">First Time Here</a></li>
                <li id="menu-item-8066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8066"><a href="/wallpapers/">Wallpapers</a></li>
            </ul>                    
        </div>
        <div class="col-sm-12 col-md-8 ct-footer-keep-in-touch">
            <h6 class="gv-h-slab gv-h-slab-normal gv-h-grey">Keep in Touch</h6>
            <div id="gv_widgets_socialprops-4" class="gv-widget gv-widget-socialprops clearfix text-left">
                <div class="sidebar-c-7">            
                    <span class="wrap-social-item">
                        <a class="hover-social sp-instagram" href="https://www.instagram.com/gocarlgodotcom/" alt="" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </span>
                    <span class="wrap-social-item">
                        <a class="hover-social sp-youtube" href="https://www.youtube.com/user/garyvaynerchuk?sub_confirmation=1" alt="" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </span>
                    <span class="wrap-social-item">
                        <a class="hover-social sp-facebook" href="https://www.facebook.com/Go-Carl-Go-102108774972310" alt="" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </span>
                    <span class="wrap-social-item">
                        <a class="hover-social sp-twitter" href="/" alt="" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </span>
                    <span class="wrap-social-item">
                        <a class="hover-social sp-snapchat" href="/" alt="" target="_blank">
                            <i class="fab fa-snapchat"></i>
                        </a>
                    </span>
                    <span class="wrap-social-item">
                        <a class="hover-social sp-linkedin" href="/" alt="" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </span>
                    <span class="wrap-social-item">
                        <a class="hover-social sp-mobile" href="/" alt="" target="_blank">
                            <i class="fas fa-mobile"></i>
                        </a>
                    </span>
                </div>
            </div>                                            
            </div>
            <div class="ct-subscribe-to-list">
                <div class="gv-widget-mailinglist horizontal">
                    <div class="gv-form">
                    <form name="gv-mc-horizontal">
                        <div class="row text-centered">
                            <h5 class="gv-h-slab gv-h-slab-normal" style="width: 100%;display: flex;align-items: center;justify-content: center;">
                                Get all my best stuff in your inbox.                        
                            </h5>
                            <div style="width: 100%;display: flex;align-items: center;justify-content: center;">
                                <a href="/" target="_blank" class="gv-btn gv-btn-red">Subscribe</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <div class="col-sm-12 gv-footer-fineprint ct-footer-fineprint ">
                <p>&copy; Carl Tanner 2020<br>
                    <a href="privacy">Privacy&nbsp;Policy |</a>
                    <a href="/terms">&nbsp;Terms of Use</a>
                </p>
            </div>
    </div>

</footer>
