<div id="ct-mobile-share" class="ct-overlay ct-overlay-black">
    <div class="social-container">
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="facebook" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-facebook" title="Share on Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="twitter" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-twitter" title="Share on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="linkedin" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-linkedin" title="Share on LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="pinterest" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-pinterest" title="Share on Pinterest">
                    <i class="fab fa-pinterest"></i>
                </a>
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="googleplus" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-google" title="Share on Google+">
                    <i class="fab fa-google-plus"></i>
                </a>
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="reddit" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-reddit" title="Share on Reddit">
                    <i class="fab fa-reddit"></i>
                </a>
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="stumble" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-stumble" title="Share on StumbleUpon">
                    <i class="fab fa-stumbleupon"></i>
                </a>
                <a href="#" data-permalink="https://www.gocarlgo.com/blog/" data-platform="email" class="ct-ctrl-share ct-btn ct-btn-s-gb ct-round sp-circle sp-email" title="Email Us">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        <a href="#ct-mobile-share|modal-close" class="ct-modal-ctrl ct-close ct-close-gray">×</a>
</div>
