<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <section class="ct-billboard-wrapper ct-page-feature">
    <div class="ct-billboard">
      <div class="ct-billboard-poster"
           style="opacity: 1;">
                <%= image_tag(image_filename) %>   
        <%# The below image tag works and we should come back around and refactor the above tag to use srcsec %>
        <%#= image_tag "billboard01.png" ,
           class: "attachment-post-thumbnail size-post-thumbnail wp-post-image",
           sizes: "(max-width: 1280px) 100vw, 1280px",
           srcset:
           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180531204749/Ucomingevents.png 1280w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180531204749/Ucomingevents-250x96.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180531204749/Ucomingevents-768x295.png 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180531204749/Ucomingevents-700x269.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180531204749/Ucomingevents-120x46.png 120w" %>
      </div>
      <div class="ct-billboard-callout">
        <div class="container text-right">
          <h1 class="col-sm-6 pull-right"></h1>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
