<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" class="ct-cta-text-me-svg">
<title>Text Me Circle</title>
<defs>
    <path d="M15,100a85,85 0 1,0 170,0a85,85 0 1,0 -170,0" id="coffeecircle" />
    <path d="M100,37c34.8,0,63,28.2,63,63s-28.2,63-63,63s-63-28.2-63-63S65.2,37,100,37z" id="starbuckscircle" transform="rotate(-85 100 100)" />
</defs>
<circle cx="100" cy="100" r="100" fill="#facd0c" id="background" />
<circle fill="none" stroke="#FFF" cx="100" cy="100" r="93.8" stroke-width="3" id="rim" />
<text>
    <textPath xlink:href="#starbuckscircle">TEXT    ME</textPath>
</text>
<text dx="15" textLength="260" class="phone-number">
    <textPath xlink:href="#coffeecircle">415-910-1999</textPath>
</text>
</svg>

