  <div class="ct-widget ct-widget-events theme-white">
    <h3 class="ct-h-welter50">Upcoming Events</h3>
    <div class="event-listing">
        <%= 5.times.each do %>
            <%= render partial: "/shared/upcoming_meetup" %>
        <% end %>
    </div>
    <div class="event-widget-footer text-right">
        <a class="link-blue link-bold"
                href="/events/">See all events &gt;&gt;
        </a>
    </div>
    </div>
  </div>
