<div class="clearfix event event-3-col">
  <div class="widget-event-date text-center">
    <div class="h3 gv-h-welter50">
      Dec
    </div>
    <div class="h2 gv-h-welter50">
      09
    </div>
  </div>
  <div class="widget-event-title">
    <h3 class="event-title">Sage Summit US 2020</h3>
    <h4 class="event-location">Orlando, FL</h4>
  </div>
  <div class="widget-event-info">
    <a
      href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2"
      target="_blank"
      class="gv-btn gv-btn-blue gv-btn-block"
      >Info</a
    >
  </div>
</div>
