<section id="top-section">
  <h1>Merchandise Links <%= "(#{@merchandise_links.count})" %></h1>
  <%= link_to 'new', 
      new_backstage_merchandise_link_path, 
      class: "btn btn-primary" %>
</section>

<%# responsive css grid start %>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="responsive-listing">
  <div class="grid">    
    <%= render partial: "merchandise_link", collection: @merchandise_links %>
  </div>
</section>
<%# responsive css grid finish %>
