  <div class="ct-content-wrapper">
    <div class="ct-page-wrapper container">
      <h1 class="ct-liner">Contact</h1>
      <div class="ct-page-content">
        <div style="width: 100%; display: flex; justify-content: center;">
          <p>
            <iframe width="900" 
                    height="506" 
                    src="<%= @getcontactcontent.youtube_url %>" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
          </p>
        </div>
        <p><%= @getcontactcontent.page_message %></p>

        <h3 class="gform_title">Contact Form</h3>
        <span class="gform_description">General contact form for <%= @getcontactcontent.first_name %>.</span>
        <div class="gf_browser_chrome gform_wrapper"
             id="gform_wrapper_1">
          <%= render '/shared/lead_form', lead: @lead %>
        </div>
      </div>
    </div>
  </div>
