<div>
  <p style="margin-top: 2em;"></p>
</div>
<div class="row">
  <div class="col-md-6 col-md-push-1">
  
  <h3 class="h1 ct-liner-simple">Want to get in touch with <%= @objective_case%>?</h3>
  <div class="gform_widget"
       id="gform_widget-2">

    <div class="gf_browser_chrome gform_wrapper"
         id="gform_wrapper_1">
      <div class="gform_anchor"
           id="gf_1"
           tabindex="-1"></div>

        <%= render '/shared/lead_form', lead: @lead %>
    </div> 
  <!-- .gform_widget -->
  </div>
    <!-- .col-md-6 .col-md-push-1 -->
  </div>
  <div class="col-md-5"></div>


<!-- .row  -->
</div>
