  <section class="ct-billboard-wrapper"
           style="margin-top: 0px; margin-bottom: 0px; opacity: 1;">
    <div class="ct-billboard-features">
      <div class="ct-billboard">
        <div class="ct-billboard-poster">
          <img  class="ct-billboard-poster-img"
                sizes="(min-width: 30em) 28em, 100vw"
                srcset="https://res.cloudinary.com/eeeps/image/upload/f_auto,q_70,w_256/on_the_phone.jpg 256w,
                        https://res.cloudinary.com/eeeps/image/upload/f_auto,q_70,w_512/on_the_phone.jpg 512w,
                        https://res.cloudinary.com/eeeps/image/upload/f_auto,q_70,w_768/on_the_phone.jpg 768w,
                        https://res.cloudinary.com/eeeps/image/upload/f_auto,q_70,w_1024/on_the_phone.jpg 1024w,
                        https://res.cloudinary.com/eeeps/image/upload/f_auto,q_70,w_1280/on_the_phone.jpg 1280w"
                src="https://res.cloudinary.com/eeeps/image/upload/f_auto,q_70,w_512/on_the_phone.jpg"
              alt=""> 
          <a alt="Open Video"
               class="ct-modal-ctrl ct-billboard-interact visible-xs-block play-btn"
               href="#overlay_39|modal-open-autoplay"></a>
        </div><a alt="Open Video"
             class="ct-modal-ctrl ct-billboard-interact play-btn"
             href="#overlay_39|modal-open-autoplay"></a>
      </div>
    </div>
  </section>
