<!-- start billboard -->
<style>
  .photon {
    margin: 2rem;
  }

  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }

  .modal-body {
    position: relative;
    padding: 0px;
  }
  .close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
  }

</style>

<link href="https://cdn.plyr.io/3.4.6/plyr.css" rel="stylesheet" />

<style>
  .plyr {
    border-radius: 4px;
    margin-bottom: 0px;
  }
</style>


  <!-- Great job, Sam Potts, on the video player https://github.com/sampotts/plyr -->
<div class="ct-billboard">
  <video  controls crossorigin playsinline 
          poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" 
          id="player"
          style="width: 100%"
          >
      <!-- Video files -->
      <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">
      <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" size="720">
      <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080">
      <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1440p.mp4" type="video/mp4" size="1440">

      <!-- Caption files -->
      <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
          default>
      <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

      <!-- Fallback for browsers that don't support the <video> element -->
      <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
  </video>

</div>
<script>
  document.addEventListener('DOMContentLoaded', () => { 
// 
    // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
    const player = new Plyr('#player');

    // Expose
    window.player = player;

    // Bind event listener
    function on(selector, type, callback) {
      document.querySelector(selector).addEventListener(type, callback, false);
    }

    // Play
    on('.js-play', 'click', () => { 
      player.play();
    });

    // Pause
    on('.js-pause', 'click', () => { 
      player.pause();
    });

    // Stop
    on('.js-stop', 'click', () => { 
      player.stop();
    });

    // Rewind
    on('.js-rewind', 'click', () => { 
      player.rewind();
    });

// 
  });
</script>

<script src="https://cdn.plyr.io/3.4.6/plyr.js"></script>

<!-- finish billboard -->
