<h1>hero goes here</h1><section class="ct-billboard-wrapper" style="margin-top: 0px; margin-bottom: 0px; opacity: 1;">
    <div class="ct-billboard-features">

    

        <div class="ct-billboard">
            <div class="ct-billboard-poster">
                <img src="https://via.placeholder.com/1280x530" class="ct-billboard-poster-img">
                                <a href="#overlay_39|modal-open-autoplay" class="ct-modal-ctrl ct-billboard-interact visible-xs-block play-btn" alt="Open Video"></a>
                            </div>
                            <a href="#overlay_39|modal-open-autoplay" class="ct-modal-ctrl ct-billboard-interact play-btn" alt="Open Video">
                </a>
                    </div>
                </div>
</section>