<div class="container">
                <div class="ct-col-module col-md-6">
            <h1 class="ct-liner">
              <a href="https://www.garyvaynerchuk.com/biography/">
                Gary Vaynerchuk Builds Businesses              </a>
            </h1>
            <p><span style="font-weight: 400;">Gary Vaynerchuk is the chairman of </span><a href="http://vaynerx.com"><span style="font-weight: 400;">VaynerX</span></a><span style="font-weight: 400;">, a modern-day media and communications holding company, and the active CEO of </span><a href="http://vaynermedia.com"><span style="font-weight: 400;">VaynerMedia</span></a><span style="font-weight: 400;">, a full-service advertising agency servicing Fortune 100 clients across the company’s 4 locations. </span></p>
<p><span style="font-weight: 400;">In the late 90s, after identifying “the internet” as a land-grab opportunity, Gary transitioned his father’s local liquor store into one of the first wine e-commerce platforms resulting in growing the family business from $3-60MM in sales during a 5-year period.</span></p>
<p>&nbsp;</p>
            <div class="ct-section-footer text-right">
                <a href="https://www.garyvaynerchuk.com/biography/" class="link-blue link-bold">Read My Story &gt;&gt;</a>
            </div>
        </div>
                <div class="ct-col-module col-md-6">
            <div class="ct-billboard ct-billboard-white ct-billboard-small">
                <div class="ct-billboard-header text-right">
                    <h4 class="h3 ct-h-welter50">Watch This</h4>
                </div>
                <div class="ct-billboard-poster">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180530232839/image.png" class="ct-billboard-poster-img">
                                        <a href="#overlay_2068|modal-open-autoplay" class="ct-modal-ctrl ct-billboard-interact all play-btn" alt="Open Video">
                    </a>
                                    </div>

            </div>
        </div>
            </div>