<%



%>

  <section class="ct-section">
    <div class="container">
    <div class="about-me-text-and-billboard">
      <div class="ct-col-module">
        <h1 class="ct-liner">
          <%= link_to @home_info.bio_link_text, biography_path %>
        </h1>          
        <p>
          <%= @home_info.biography_blurb %>
        </p>
        <p>&nbsp;</p>
        <div class="ct-section-footer text-right">
          <a class="link-blue link-bold"
               href="/biography/">Read My Story &gt;&gt;</a>
        </div>
      </div>
      <div class="ct-col-module">
        <div class="ct-billboard ct-billboard-white ct-billboard-small">
          <div class="ct-billboard-header text-right">
            <h4 class="h3 ct-h-welter50">Watch This</h4>
          </div>
          <div class="ct-billboard-poster">
            <%= image_tag @home_info.watch_this_poster_url, class: "ct-billboard-poster-img" %>
             <a alt="Open Video"
                 class="ct-modal-ctrl ct-billboard-interact all play-btn"
                 href="#overlay_2068|modal-open-autoplay"></a>
          </div>
        </div>
      </div>
    </div>
</div>
      </section>
