  <section class="ct-section">
    <div class="container">
    <div class="about-me-text-and-billboard">
      <div class="ct-col-module">
        <h1 class="ct-liner"><a href="/biography/">Carl Tanner Builds Full-Stack Builds Web Apps</a></h1>
        <p>Carl Tanner is the Chairman of Second Star Labs, a modern, full-stack online software development agency, and the active Lead Developer of Dice Media Group, a full-service marketing agency for small to medium businesses operating in the United States.</p>
        <p>&nbsp;</p>
        <div class="ct-section-footer text-right">
          <a class="link-blue link-bold"
               href="/biography/">Read My Story &gt;&gt;</a>
        </div>
      </div>
      <div class="ct-col-module">
        <div class="ct-billboard ct-billboard-white ct-billboard-small">
          <div class="ct-billboard-header text-right">
            <h4 class="h3 ct-h-welter50">Watch This</h4>
          </div>
          <div class="ct-billboard-poster">
            <img class="ct-billboard-poster-img"
                 src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180530232839/image.png"> <a alt="Open Video"
                 class="ct-modal-ctrl ct-billboard-interact all play-btn"
                 href="#overlay_2068|modal-open-autoplay"></a>
          </div>
        </div>
      </div>
    </div>
</div>
      </section>
