  <div class="ct-widget-wrapper ct-widget-bg ct-widget-fulllength mailing-list-cta-widget">
    <div class="ct-widget clearfix">
      <div class="container">
        <div class="row clearfix">
          <div class="ct-widget-mailinglist mobile gvmc-ctrl-nojs">
            <a class="ct-btn ct-btn-red"
                 href="https://connect.gocarlgo.com/connect-with-go-carl-go"
                 target="_blank">Subscribe</a>
          </div>
          <div class="ct-widget-mailinglist fullwidth desktop">
            <div class="ct-widget-content">
              <form id="ct-mc-main-desktop"
                    name="ct-mc-main-desktop">
                <h1>GET KNOW-HOW WEEKLY</h1>
                <h3 class="ct-h-serif">Directly into your inbox every Monday morning.</h3>
                <div class="ct-form">
                  <div class="ct-widget-mailinglist">
                    <a class="ct-btn ct-btn-red"
                         href="https://connect.gocarlgo.com/connect-with-go-carl-go"
                         target="_blank">Subscribe</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="ct-widget-standee"><img src=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
