
<div class="ct-content-wrapper no-padding">
    <div class="ct-widget-wrapper ct-widget-bg ct-widget-fulllength">
                <div class="ct-widget clearfix">
            <div class="container">
                <div class="row clearfix">
                    <div class="ct-widget-mailinglist mobile gvmc-ctrl-nojs">
                        <a href="http://eepurl.com/LY3M5" target="_blank" class="ct-btn ct-btn-red">Subscribe</a>
                    </div>
                    <div class="ct-widget-mailinglist fullwidth desktop">
                        <div class="ct-widget-content">
                            <form name="ct-mc-main-desktop">
                                <h1>GET THE GO CARL GO WEEKLY</h1>
                                <h3 class="ct-h-serif">Directly into your inbox every Monday morning.</h3>
                                <div class="ct-form">
                                    <div class="row">
                                    <div class="ct-widget-mailinglist">
                                        <a href="#" target="_blank" class="ct-btn ct-btn-red">Subscribe</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ct-widget-standee">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>

