
<div id="ct-sect-mediaappr" class="ct-widget ct-widget-fulllength ct-widget-light">
    <%# <div class="container">
        <h6 class="ct-h-sans-caps">Carl has been featured in</h6>
                    <a href="https://www.nytimes.com/2018/12/28/sports/gary-vaynerchuk-jets-owner.html?searchResultPosition=1" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120171816/NYT-logo.png" class="img-responsive" style="min-width:290px;">
            </a>
                            <a href="https://www.forbes.com/sites/bdoherty/2019/04/18/nfler-derrick-morgan-and-gary-vaynerchuk-join-forces-to-champion-the-modern-athlete/#22631cbd7c21" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120171924/Forbes-logo.png" class="img-responsive" style="min-width:100px;">
            </a>
                            <a href="https://fortune.com/40-under-40/2014/gary-vaynerchuk" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120172004/Fortune-logo.png" class="img-responsive" style="min-width:125px;">
            </a>
                            <a href="https://www.inc.com/jeff-barrett/how-chattanooga-attracted-gary-vaynerchuk-steve-case-2-billion-in-startup-exits.html?cid=search" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120172034/Inc-logo.png" class="img-responsive" style="min-width:105px;">
            </a>
                            <a href="https://www.entrepreneur.com/article/294499" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120172106/Entrepreneur-logo.png" class="img-responsive" style="min-width:150px;">
            </a>
                            <a href="http://www.fastcompany.com/3042042/the-secret-behind-the-most-innovative-tweeters" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120172142/Fast_Company-logo.png" class="img-responsive" style="min-width:140px;">
            </a>
                            <a href="http://mashable.com/2015/02/17/john-legere-spoiled-ceos/#Xvhtq1XLfZqK" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120172153/Mashable-logo.png" class="img-responsive" style="min-width:140px;">
            </a>
                            <a href="https://www.wsj.com/articles/entrepreneur-gary-vaynerchuk-bet-right-on-facebook-wrong-on-blackjet-1523239560" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151120172156/tWSJ-logo.png" class="img-responsive" style="min-width:300px;">
            </a>
                            <a href="https://www.success.com/ep-6-success-chat-with-gary-vaynerchuk/" class="mappr-logo-item" target="_blank">
                <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20160401203939/SUCCESS_logo_black.png" class="img-responsive" style="min-width:150px;max-width:150px;">
            </a>
                        <div class="section-footer text-right">
            <a href="https://www.garyvaynerchuk.com/media-appearances/" class="link-blue link-bold">
                View Media Appearances &gt;&gt;
            </a>
        </div>
    </div> %>
</div>
