  <div class="gv-widget gv-widget-fulllength gv-widget-light"
       id="gv-sect-mediaappr">
    <div class="container">
      <h6 class="gv-h-sans-caps">Carl has been featured in</h6>
    </div>
  </div>
