<div id="ct-sect-blog" class="ct-section">
    <div class="container">
        <h4 class="h3 ct-h-welter50">Read This</h4>
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <div class="ct-post-img">
                    <a href="/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/">
                        <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new.png 2800w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-250x200.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-768x614.png 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-700x560.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-120x96.png 120w" sizes="(max-width: 2800px) 100vw, 2800px">                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <h1 class="ct-liner-simple">
                    <a href="/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/">
                        The GaryVee Content Strategy: How to Grow and Distribute Your Brand’s Social Media Content                    </a>
                </h1>
                <h5 class="ct-h-slab ct-post-date">
                    2 years ago                    <span class="middot">·</span>
                    3 min read                </h5>
                <p>
                    Mastering content strategy, creation, and distribution for your brand on social media is a difficult and long process. But, in an effort to provide you guys with as much value as possible, I'm going to                </p>
                <div class="text-right">
                    <a href="/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/" class="ct-post-permalink link-blue">Read More &gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>

