<div id="ct-sect-blog" class="ct-section">
        <%= render partial: "pinned_blog_entry", collection: @coming_soon %>
        <% 5.times do %>
        <%= render partial: "pinned_blog_entry" %>
        <% end %>
</div>

