<div id="ct-sect-blog" class="ct-section">
        <% if Blog::Entry.featured.count > 0 %>
                <%= render partial: "pinned_blog_entry", 
                collection: Blog::Entry.featured, 
                as: :entry %>
          
        <% else %>
                <div id="ct-sect-blog" class="ct-section">
                        <h3>no pinned blog entries</h3>
                </div>          
        <% end %>
</div>

