<div id="ct-sect-blog" class="ct-section">
        <%= render partial: "pinned_blog_entry", collection: @pinned_entries %>
        <% 5.times do %>
        <p>hello</p>
        <%#= render partial: "pinned_blog_entry" %>
        <% end %>
</div>

