<% @linked_icon_names   = [ 'instagram', 'youtube', "facebook", "twitter", "linkedin", "podcast", "tiktok" ] %>
<div id="ct-sect-kit" class="ct-section ct-section-invert">
    <div class="container">
        <div class="row">
            <h2 class="h1">Stay In Touch With Me.</h2>
            <div id="gv_widgets_socialprops-5" class="ct-widget ct-widget-socialprops clearfix text-center">
                <div class="sidebar-c-9">
 <!--               <div class="col-sm-3 col-md-3 text-center">
                        <div class="ct-widget-unit home">
                            <a class="sp-circle sp-circle-lg sp-circle-invert sp-mobile" href="https://open.spotify.com/show/7zkNXS6pqQPXSUnceIW4VE" alt="" target="_blank">
                                <%= icon('fas', 'mobile-alt') %>
                            </a>
                            <h6 class="ct-h-slab ct-h-slab-normal">My exclusive texting community. Send me a text at +1-212-931-5731</h6>
                        </div>
                    </div>
-->
            <%# ['instagram', 'youtube', "facebook", "twitter", "spotify", "linkedin", "podcast", "tiktok" ] %>
            <% @linked_icon_names.each do |icon_name| %>
                <div class="col-sm-3 col-md-3 text-center">
                    <div class="ct-widget-unit home">
                        <% icon = @linked_icon_data.find_by(name: icon_name) %>
                        <%= link_to  icon.url, 
                            class: "sp-circle sp-circle-lg sp-circle-invert sp-#{icon.name}", 
                            target: "_blank" do %>
                                <i class="<%= icon.font_awesome_class %> "></i>
                        <% end %>

                        <h6 class="ct-h-slab ct-h-slab-normal"><%= icon.blurb || "Blurb missing." %></h6>
                    </div>
                </div>
                <%# icon_names finish %>
                <% end %>
            

            </div>
        </div>        
        </div>
    </div>
</div>