<% billboard_image_filename = @biography.header_photo_url %>
<% headline = @biography.title %>
<%= render partial: '/shared/static_billboard', 
    locals: { image_filename: billboard_image_filename,
              headline:       headline
    
    } %>

  <div class="ct-content-wrapper no-shadow">
    <div class="ct-page-wrapper container">
      <div class="row">
        <%= render 'biography_text' %>

        <!--aside start -->
        <%= render partial: '/shared/aside', 
          locals: { sidebar_icons: @sidebar_icons } %>
        <!--aside finish -->
      </div>
    </div>
  </div>
