<section id="top-section">
  <h1>Backstage::Wallpapers <%= "(#{@wallpapers.count})" %></h1>
  <%= link_to 'new', 
      new_backstage_wallpaper_path, 
      class: "btn btn-primary" %>
</section>

<%# responsive css grid start %>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="responsive-listing">
  <div class="grid">
    <%= render @wallpapers %>    
  </div>
</section>
<%# responsive css grid finish %>

