<% style = 'background: center / contain no-repeat ' +
            ' url('  + "#{url_for(media_appearance.image)}" + ');'

%>

    <%= link_to(edit_backstage_media_appearance_path(media_appearance), 
                class:"item item--medium",        
                style: style
               ) do %>
        <div    class="item__details" >
        <%= "#{media_appearance.title}"%><%#= link_to book.title, edit_backstage_book_path(book) %>
        </div>

    <% end %>
