<section id="top-section">
  <h1>MediaAppearances (mentions in the Press) <%= "(#{@media_appearances.count})" %></h1>
  <%= link_to 'new', 
      new_backstage_media_appearance_path, 
      class: "btn btn-primary" %>
</section>

      <%# responsive css grid start %>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="responsive-listing">
  <div class="grid">
    <%= render @media_appearances %>    
  </div>
</section>
<%# responsive css grid finish %>




