  <section class="ct-billboard-wrapper ct-page-feature"
           style="margin-top: 0px; margin-bottom: 0px; opacity: 1;">

    <div class="ct-billboard">
        <div class="ct-billboard-poster" style="opacity: 1;">
            <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151103173452/media-hero.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">        </div>
        <div class="ct-billboard-callout">
            <div class="container text-right">
                <h1 class="col-sm-6 pull-right">Recent Press</h1>
            </div>
        </div>
    </div>
  </section>
