  <div class="ct-page-wrapper container">
    <!-- article -->
    <article class="post-7 page type-page status-publish has-post-thumbnail hentry"
             id="post-7">
      <div class="ct-wiki">
        <div class="ct-wiki-item clearfix ct-wiki-expandable opened"
             id="wiki-item-2019inthepress">
          <h4 class="ct-wiki-title has-ctrl"><a class="ct-wiki-expand-ctrl"
             href="#wiki-item-2019inthepress|toggle">2019 In The Press
          <div class="ct-wiki-exp-icon"></div></a></h4>
          <div class="ct-wiki-content">
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/why-gary-vaynerchuk-is-winning-the-marketing-game/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220013735/Screen-Shot-2019-12-19-at-8.36.45-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220013735/Screen-Shot-2019-12-19-at-8.36.45-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220013735/Screen-Shot-2019-12-19-at-8.36.45-PM-300x175.png 300w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220013735/Screen-Shot-2019-12-19-at-8.36.45-PM-1472x862.png 1472w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/why-gary-vaynerchuk-is-winning-the-marketing-game/"
                       target="">Why Gary Vaynerchuk is 'winning' the marketing game</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Dec 14, 2019</span> <a href="https://www.garyvaynerchuk.com/why-gary-vaynerchuk-is-winning-the-marketing-game/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/is-gary-vaynerchuk-wrong-wrong-wrong-wrong-wrong-about-media/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220012131/Screen-Shot-2019-12-19-at-8.21.04-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220012131/Screen-Shot-2019-12-19-at-8.21.04-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220012131/Screen-Shot-2019-12-19-at-8.21.04-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/is-gary-vaynerchuk-wrong-wrong-wrong-wrong-wrong-about-media/"
                       target="">Is Gary Vaynerchuk 'wrong, wrong, wrong, wrong, wrong' about media?</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Nov 04, 2019</span> <a href="https://www.garyvaynerchuk.com/is-gary-vaynerchuk-wrong-wrong-wrong-wrong-wrong-about-media/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/gary-vee-pivoted-from-selling-baseball-cards-to-advising-key-global-players-here-muslimgirls-founder-amani-explores-their-shared-journey-and-the-art-of-influence/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219200029/Screen-Shot-2019-12-19-at-2.58.19-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219200029/Screen-Shot-2019-12-19-at-2.58.19-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219200029/Screen-Shot-2019-12-19-at-2.58.19-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href=
                    "https://www.garyvaynerchuk.com/gary-vee-pivoted-from-selling-baseball-cards-to-advising-key-global-players-here-muslimgirls-founder-amani-explores-their-shared-journey-and-the-art-of-influence/"
                       target="">Gary Vee pivoted from selling baseball cards to advising key global players. Here, <span class="force-smaller">MuslimGirl’s</span> founder, Amani, explores their shared journey, and the art of influence</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Oct 15, 2019</span> <a href=
                    "https://www.garyvaynerchuk.com/gary-vee-pivoted-from-selling-baseball-cards-to-advising-key-global-players-here-muslimgirls-founder-amani-explores-their-shared-journey-and-the-art-of-influence/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/wcit-2019-takeaways-from-armenias-global-tech-summit/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219191343/Screen-Shot-2019-12-19-at-2.12.57-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219191343/Screen-Shot-2019-12-19-at-2.12.57-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219191343/Screen-Shot-2019-12-19-at-2.12.57-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/wcit-2019-takeaways-from-armenias-global-tech-summit/"
                       target="">WCIT 2019: Takeaways from Armenia’s global tech summit</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Oct 11, 2019</span> <a href="https://www.garyvaynerchuk.com/wcit-2019-takeaways-from-armenias-global-tech-summit/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/exclusive-interview-with-gary-vaynerchuk-the-chairman-of-vaynerx/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219185643/Screen-Shot-2019-12-19-at-1.56.08-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219185643/Screen-Shot-2019-12-19-at-1.56.08-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219185643/Screen-Shot-2019-12-19-at-1.56.08-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/exclusive-interview-with-gary-vaynerchuk-the-chairman-of-vaynerx/"
                       target="">Exclusive interview with Gary Vaynerchuk, the chairman of VaynerX</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Oct 10, 2019</span> <a href="https://www.garyvaynerchuk.com/exclusive-interview-with-gary-vaynerchuk-the-chairman-of-vaynerx/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/exclusive-interview-with-gary-vaynerchuk/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219184520/Screen-Shot-2019-12-19-at-1.44.36-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219184520/Screen-Shot-2019-12-19-at-1.44.36-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219184520/Screen-Shot-2019-12-19-at-1.44.36-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/exclusive-interview-with-gary-vaynerchuk/"
                       target="">Exclusive interview with Gary Vaynerchuk</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Oct 08, 2019</span> <a href="https://www.garyvaynerchuk.com/exclusive-interview-with-gary-vaynerchuk/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/5-lessons-i-learned-from-gary-vaynerchuk-at-a-tech-conference-in-armenia/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219181238/Screen-Shot-2019-12-19-at-1.12.02-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219181238/Screen-Shot-2019-12-19-at-1.12.02-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219181238/Screen-Shot-2019-12-19-at-1.12.02-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/5-lessons-i-learned-from-gary-vaynerchuk-at-a-tech-conference-in-armenia/"
                       target="">5 lessons I learned from Gary Vaynerchuk at a tech conference in Armenia</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Oct 08, 2019</span> <a href="https://www.garyvaynerchuk.com/5-lessons-i-learned-from-gary-vaynerchuk-at-a-tech-conference-in-armenia/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/talk-to-your-normal-friends-more-gary-vaynerchuk-on-staying-away-from-madison-ave-to-dominate-ad-land/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220012902/Screen-Shot-2019-12-19-at-8.24.40-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220012902/Screen-Shot-2019-12-19-at-8.24.40-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191220012902/Screen-Shot-2019-12-19-at-8.24.40-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/talk-to-your-normal-friends-more-gary-vaynerchuk-on-staying-away-from-madison-ave-to-dominate-ad-land/"
                       target="">'Talk to your normal friends more': Gary Vaynerchuk on staying away from Madison Ave to dominate Ad Land</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Sep 23, 2019</span> <a href="https://www.garyvaynerchuk.com/talk-to-your-normal-friends-more-gary-vaynerchuk-on-staying-away-from-madison-ave-to-dominate-ad-land/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/serial-entrepreneur-gary-vaynerchuk-reveals-the-investment-secret-that-made-him-millions/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212231749/Screen-Shot-2019-12-12-at-6.13.29-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212231749/Screen-Shot-2019-12-12-at-6.13.29-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212231749/Screen-Shot-2019-12-12-at-6.13.29-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/serial-entrepreneur-gary-vaynerchuk-reveals-the-investment-secret-that-made-him-millions/"
                       target="">Serial <span class="force-smaller">entrepreneur</span> Gary Vaynerchuk reveals the investment secret that made him millions</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">May 31, 2019</span> <a href="https://www.garyvaynerchuk.com/serial-entrepreneur-gary-vaynerchuk-reveals-the-investment-secret-that-made-him-millions/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/b2b-brands-needs-to-produce-more-content/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212214323/Screen-Shot-2019-12-12-at-4.41.08-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212214323/Screen-Shot-2019-12-12-at-4.41.08-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212214323/Screen-Shot-2019-12-12-at-4.41.08-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/b2b-brands-needs-to-produce-more-content/"
                       target="">B2B Brands Needs to Produce More Content</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">May 30, 2019</span> <a href="https://www.garyvaynerchuk.com/b2b-brands-needs-to-produce-more-content/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/nfler-derrick-morgan-and-gary-vaynerchuk-join-forces-to-champion-the-modern-athlete/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219193523/Screen-Shot-2019-12-19-at-2.35.04-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219193523/Screen-Shot-2019-12-19-at-2.35.04-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191219193523/Screen-Shot-2019-12-19-at-2.35.04-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/nfler-derrick-morgan-and-gary-vaynerchuk-join-forces-to-champion-the-modern-athlete/"
                       target="">NFL'er Derrick Morgan And Gary Vaynerchuk Join Forces To Champion The Modern Athlete</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Apr 18, 2019</span> <a href="https://www.garyvaynerchuk.com/nfler-derrick-morgan-and-gary-vaynerchuk-join-forces-to-champion-the-modern-athlete/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-what-entrepreneurs-should-know-before-pitching-in-2019/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212212315/Screen-Shot-2019-12-12-at-4.22.46-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212212315/Screen-Shot-2019-12-12-at-4.22.46-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212212315/Screen-Shot-2019-12-12-at-4.22.46-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-what-entrepreneurs-should-know-before-pitching-in-2019/"
                       target="">Gary Vaynerchuk: What <span class="force-smaller">Entrepreneurs</span> Should Know Before Pitching In 2019</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Jan 09, 2019</span> <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-what-entrepreneurs-should-know-before-pitching-in-2019/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/entrepreneur-stepping-up-serial-entrepreneur-gary-vaynerchuk/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212202448/Screen-Shot-2019-12-12-at-3.24.18-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212202448/Screen-Shot-2019-12-12-at-3.24.18-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212202448/Screen-Shot-2019-12-12-at-3.24.18-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/entrepreneur-stepping-up-serial-entrepreneur-gary-vaynerchuk/"
                       target=""><span class="force-smaller">Entrepreneur:</span> Stepping Up: Serial <span class="force-smaller">Entrepreneur</span> Gary Vaynerchuk</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Jan 02, 2019</span> <a href="https://www.garyvaynerchuk.com/entrepreneur-stepping-up-serial-entrepreneur-gary-vaynerchuk/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ct-wiki-item clearfix ct-wiki-expandable opened"
             id="wiki-item-2018inthepress">
          <h4 class="ct-wiki-title has-ctrl"><a class="ct-wiki-expand-ctrl"
             href="#wiki-item-2018inthepress|toggle">2018 In The Press
          <div class="ct-wiki-exp-icon"></div></a></h4>
          <div class="ct-wiki-content">
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/the-self-described-jets-owner-in-waiting-will-tailgate-for-now/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212194947/Screen-Shot-2019-12-12-at-2.26.37-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212194947/Screen-Shot-2019-12-12-at-2.26.37-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212194947/Screen-Shot-2019-12-12-at-2.26.37-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/the-self-described-jets-owner-in-waiting-will-tailgate-for-now/"
                       target="">The <span class="force-smaller">Self-Described</span> Jets <span class="force-smaller">Owner-in-Waiting</span> Will Tailgate for Now</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Dec 28, 2018</span> <a href="https://www.garyvaynerchuk.com/the-self-described-jets-owner-in-waiting-will-tailgate-for-now/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-on-real-biz-with-rebecca-jarvis/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212191838/Screen-Shot-2019-12-12-at-2.17.52-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212191838/Screen-Shot-2019-12-12-at-2.17.52-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212191838/Screen-Shot-2019-12-12-at-2.17.52-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-on-real-biz-with-rebecca-jarvis/"
                       target="">Gary Vaynerchuk on Real Biz with Rebecca Jarvis</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Dec 06, 2018</span> <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-on-real-biz-with-rebecca-jarvis/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-and-sean-evans-talk-sneakers-hot-sauce-and-the-secret-to-influencer-megastardom/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212191046/Screen-Shot-2019-12-12-at-2.09.32-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212191046/Screen-Shot-2019-12-12-at-2.09.32-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212191046/Screen-Shot-2019-12-12-at-2.09.32-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-and-sean-evans-talk-sneakers-hot-sauce-and-the-secret-to-influencer-megastardom/"
                       target="">Gary Vaynerchuk And Sean Evans Talk Sneakers, Hot Sauce And The Secret To Influencer Megastardom</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Dec 01, 2018</span> <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-and-sean-evans-talk-sneakers-hot-sauce-and-the-secret-to-influencer-megastardom/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-how-to-blow-up-on-social-media/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212190509/Screen-Shot-2019-12-12-at-2.03.57-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212190509/Screen-Shot-2019-12-12-at-2.03.57-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212190509/Screen-Shot-2019-12-12-at-2.03.57-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-how-to-blow-up-on-social-media/"
                       target="">Gary Vaynerchuk: How To Blow Up On Social Media</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Nov 03, 2018</span> <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-how-to-blow-up-on-social-media/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/scooter-braun-gary-vaynerchuk-partner-with-canvas-art-startup-ikonick-to-grow-brand/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212174620/Screen-Shot-2019-12-12-at-12.44.02-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212174620/Screen-Shot-2019-12-12-at-12.44.02-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191212174620/Screen-Shot-2019-12-12-at-12.44.02-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/scooter-braun-gary-vaynerchuk-partner-with-canvas-art-startup-ikonick-to-grow-brand/"
                       target="">Scooter Braun &amp; Gary Vaynerchuk Partner With Canvas Art Startup Ikonick to Grow Brand</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Aug 29, 2018</span> <a href="https://www.garyvaynerchuk.com/scooter-braun-gary-vaynerchuk-partner-with-canvas-art-startup-ikonick-to-grow-brand/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/vaynerchuk-on-facebook-investment/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211180202/Screen-Shot-2019-12-11-at-1.01.12-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211180202/Screen-Shot-2019-12-11-at-1.01.12-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211180202/Screen-Shot-2019-12-11-at-1.01.12-PM-300x175.png 300w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211180202/Screen-Shot-2019-12-11-at-1.01.12-PM-1376x800.png 1376w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/vaynerchuk-on-facebook-investment/"
                       target="">Vaynerchuk on Facebook Investment</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Jul 30, 2018</span> <a href="https://www.garyvaynerchuk.com/vaynerchuk-on-facebook-investment/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/how-serial-entrepreneur-gary-vaynerchuk-built-his-digital-empire-vaynermedia-today/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211174628/Screen-Shot-2019-12-11-at-12.45.54-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211174628/Screen-Shot-2019-12-11-at-12.45.54-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211174628/Screen-Shot-2019-12-11-at-12.45.54-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/how-serial-entrepreneur-gary-vaynerchuk-built-his-digital-empire-vaynermedia-today/"
                       target="">How Serial <span class="force-smaller">Entrepreneur</span> Gary Vaynerchuk Built His Digital Empire, VaynerMedia | TODAY</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Jul 11, 2018</span> <a href="https://www.garyvaynerchuk.com/how-serial-entrepreneur-gary-vaynerchuk-built-his-digital-empire-vaynermedia-today/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-is-the-definition-of-a-new-age-entrepreneur-and-hes-just-getting-started/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211172917/Screen-Shot-2019-12-11-at-12.28.41-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211172917/Screen-Shot-2019-12-11-at-12.28.41-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211172917/Screen-Shot-2019-12-11-at-12.28.41-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-is-the-definition-of-a-new-age-entrepreneur-and-hes-just-getting-started/"
                       target="">Gary Vaynerchuk Is The Definition Of A New-Age <span class="force-smaller">Entrepreneur—And</span> He’s Just Getting Started</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Jul 02, 2018</span> <a href="https://www.garyvaynerchuk.com/gary-vaynerchuk-is-the-definition-of-a-new-age-entrepreneur-and-hes-just-getting-started/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/karen-civil-gary-vee-and-ryan-leslie-hear-a-pitch-that-could-erase-student-debt/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211172425/Screen-Shot-2019-12-11-at-12.23.13-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211172425/Screen-Shot-2019-12-11-at-12.23.13-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211172425/Screen-Shot-2019-12-11-at-12.23.13-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/karen-civil-gary-vee-and-ryan-leslie-hear-a-pitch-that-could-erase-student-debt/"
                       target="">Karen Civil, Gary Vee, and Ryan Leslie Hear a Pitch That Could Erase Student Debt</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Jun 09, 2018</span> <a href="https://www.garyvaynerchuk.com/karen-civil-gary-vee-and-ryan-leslie-hear-a-pitch-that-could-erase-student-debt/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <div class="ct-articleunit ct-articleunit-pg">
                  <div class="ct-articleunit-content">
                    <div class="ct-articleunit-thumb">
                      <a href="https://www.garyvaynerchuk.com/inside-serial-entrepreneur-and-social-influencer-gary-vaynerchuks-empire/"
                           target=""><img alt=""
                           class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                           sizes="(max-width: 400px) 100vw, 400px"
                           src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211171310/Screen-Shot-2019-12-11-at-12.10.37-PM-400x234.png"
                           srcset=
                           "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211171310/Screen-Shot-2019-12-11-at-12.10.37-PM-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191211171310/Screen-Shot-2019-12-11-at-12.10.37-PM-300x175.png 300w"></a>
                    </div>
                    <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/inside-serial-entrepreneur-and-social-influencer-gary-vaynerchuks-empire/"
                       target="">Inside serial <span class="force-smaller">entrepreneur</span> and social influencer Gary <span class="force-smaller">Vaynerchuk's</span> empire</a></h3>
                  </div>
                  <div class="ct-articleunit-footer">
                    <span class="ct-articuleunit-date">Mar 30, 2018</span> <a href="https://www.garyvaynerchuk.com/inside-serial-entrepreneur-and-social-influencer-gary-vaynerchuks-empire/"
                         target="">Read More &gt;&gt;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </article><!-- /article -->
  </div>
