<%= render 'billboard' %>
  <div class="ct-content-wrapper ct-flex-template">
    <div class="ct-page-content">
    <!-- ct-page-content -->
      <div class="container ct-flex-has-sidebar">
        <%= render 'listing' %>
        <!-- .container -->
      </div>
    </div>
  </div>

