<%# billboard_image_filename = "biography_hero.jpg" %>
<%# headline = "Favorite Books" %>
<%#= render partial: 'billboard', 
    locals: { image_filename: billboard_image_filename,
              headline:       headline
    
    } %>

<!--  -->
<% billboard_image_filename = "biography_hero.jpg" %>
<% headline = "Favorite Books" %>
<%= render partial: '/shared/static_billboard', 
    locals: { image_filename: billboard_image_filename,
              headline:       headline
    
    } %>

<div class="ct-content-wrapper">
  <div class="ct-page-wrapper container">
    <%= render @books %>
  </div>
</div>

