<section id="top-section">
  <h1>Backstage::Books <%= "(#{@books.count})" %></h1>
  <%= link_to 'new', 
      new_backstage_book_path, 
      class: "btn btn-primary" %>
</section>

<%# responsive css grid start %>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="responsive-listing">
  <h1>Recommended Books</h1>
  <div class="grid">
    <%= render @books %>    
  </div>
</section>
<%# responsive css grid finish %>



