<h1>blog</h1>
    <%= render 'sidebar' %>
    <section id="main-dashboard-content">
        <ul>
          <li>blog articles</li>
          <li>blog entries</li>
          <li>blog recommendations</li>
          <li>blog recommended entries</li>
        </ul>
      </section>
    </section>
