

<div class="backstage">
<%= render '/backstage/sidebar' %>
<section id="main-dashboard-content">
    <section id="top-section">
    <h1 id="welcome-title">Welcome Back, <%= current_user.first_name %>!</h1>
    </section>
    <section id="grid-container">
    <div class="grid-item blockone"><h1>Backstage::BlogHub#index</h1>
<p>Find me in app/views/backstage/blog_hub/index.html.erb</p>
</div>
    <div class="grid-item mail">Item 2</div>
    <div class="grid-item  agenda">agenda</div>
    <div class="grid-item  tasks">tasks</div>            
    <div class="grid-item blockthree">Item 3: Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor Inc

    </div>
    <div class="grid-item blockfour">Item 4</div>
    <div class="grid-item trends">Trends:  Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor IncLorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor Inc</div>
    </section>
</section>

</div>