  <div class="ct-widget ct-widget-events theme-black">
    <h3 class="h1">Upcoming Events</h3>
    <div class="event-listing">
      <div class="clearfix event event-2-col">
        <a class="event-linker"
             href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2"
             target="_blank">
        <div class="widget-event-date text-center">
          <div class="h3 ct-h-welter50">
            Dec
          </div>
          <div class="h2 ct-h-welter50">
            09
          </div>
        </div>
        <div class="widget-event-title">
          <h3 class="event-title">Sage Summit US 2020</h3>
          <h4 class="event-location">Orlando, FL</h4>
        </div></a>
        <div class="widget-event-info">
          <a class="event-linker"
               href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2"
               target="_blank"></a><a class="ct-btn ct-btn-blue ct-btn-block"
               href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2"
               target="_blank">Info</a>
        </div>
      </div>
      <div class="clearfix event event-2-col">
        <a class="event-linker"
             href="http://garyveeinlondon.com"
             target="_blank">
        <div class="widget-event-date text-center">
          <div class="h3 ct-h-welter50">
            Jan
          </div>
          <div class="h2 ct-h-welter50">
            09
          </div>
        </div>
        <div class="widget-event-title">
          <h3 class="event-title">Create Your Own Economy</h3>
          <h4 class="event-location">London, UK</h4>
        </div></a>
        <div class="widget-event-info">
          <a class="event-linker"
               href="http://garyveeinlondon.com"
               target="_blank"></a><a class="ct-btn ct-btn-blue ct-btn-block"
               href="http://garyveeinlondon.com"
               target="_blank">Info</a>
        </div>
      </div>
      <div class="clearfix event event-2-col">
        <a class="event-linker"
             href="https://nobull2020.com/"
             target="_blank">
        <div class="widget-event-date text-center">
          <div class="h3 ct-h-welter50">
            Apr
          </div>
          <div class="h2 ct-h-welter50">
            08
          </div>
        </div>
        <div class="widget-event-title">
          <h3 class="event-title">The No Bull Business Conference</h3>
          <h4 class="event-location">Syracuse, NY</h4>
        </div></a>
        <div class="widget-event-info">
          <a class="event-linker"
               href="https://nobull2020.com/"
               target="_blank"></a><a class="ct-btn ct-btn-blue ct-btn-block"
               href="https://nobull2020.com/"
               target="_blank">Info</a>
        </div>
      </div>
      <div class="clearfix event event-2-col">
        <a class="event-linker"
             href="https://arecconference.com.au/"
             target="_blank">
        <div class="widget-event-date text-center">
          <div class="h3 ct-h-welter50">
            May
          </div>
          <div class="h2 ct-h-welter50">
            31
          </div>
        </div>
        <div class="widget-event-title">
          <h3 class="event-title">AREC 2021 – Via Video Conference</h3>
          <h4 class="event-location">Gold Coast, Australia</h4>
        </div></a>
        <div class="widget-event-info">
          <a class="event-linker"
               href="https://arecconference.com.au/"
               target="_blank"></a><a class="ct-btn ct-btn-blue ct-btn-block"
               href="https://arecconference.com.au/"
               target="_blank">Info</a>
        </div>
      </div>
    </div>
    <div class="event-widget-footer text-center">
      <a class="ct-btn ct-btn-blue ct-btn-block"
           href="#"
           id="cal-reply-subscribe"
           target="_blank"
           title="Subscribe on CalReply">&nbsp;&nbsp;Get Notifications</a>
    </div>
  </div>
