<% @linked_icon_names   = [ "facebook", "youtube", "instagram", "twitter", "snapchat" ] %>

  <div class="ct-widget ct-widget-socialprops clearfix text-center"
       id="gv_widgets_socialprops-2">
    <div class="sidebar-c-5">
      <% @linked_icon_names.each do |icon_name| %>
         <% icon = @linked_icon_data.find_by(name: icon_name) %>
         <span class="wrap-social-item">
            <a alt=""
            class=" <%= "sp-circle sp-#{icon.name}" %> "
            href="<%= icon.url %>"
            target="_blank">
               <i class='<%= "#{icon.font_awesome_class}" %>'></i>
            </a>
         </span>          
      <% end %>
    </div>
  </div>
