  <div class="ct-widget ct-widget-socialprops clearfix text-center"
       id="gv_widgets_socialprops-2">
    <div class="sidebar-c-5">
      <% social_spots = ["facebook", "youtube", "instagram", "twitter"] %>
      <% social_spots.each do |spot| %>
         <span class="wrap-social-item">
            <a alt=""
            class=" <%= "sp-circle sp-#{spot}" %> "
            href="<%= PublisherAcct.link(spot)%>"
            target="_blank">
               <i class='<%= "fab fa-#{spot}" %>'></i>
            </a>
         </span>          
      <% end %>
      <%# snapchat does not follow pattern %>
      <span class="wrap-social-item"><a alt=""
         class="sp-circle sp-snapchat"
         href="<%= PublisherAcct.link('snapchat')%>"
         target="_blank">
               <i class="fab fa-snapchat-ghost"></i>
         </a>
      </span>
    </div>
  </div>
