 
 
<div class="ct-widget clearfix">
  <div class="ct-widget-mailinglist sidebar">
      <h2 class="h1 text-right">
        <p>
          Subscribe <span class="nobreak">for access</span> 
          <span class="nobreak">to exclusive</span> content.
        </p>
      </h2>
      <div class="ct-form">
          <form name="ct-mc-sidebar">
              <div class="clear text-right">
                  <a href="http://eepurl.com/LY3M5" target="_blank" class="ct-btn ct-btn-red">Subscribe</a>
              </div>
          </form>
      </div>
  </div>
</div>