<h1>Dashboard</h1>
<style>
    .dashboard-icon {
        max-width: 250px;
        align-items: center;
    }
</style>
<!-- Svg Vector Icons : http://www.onlinewebfonts.com/icon -->

  <%= link_to  broadcaster_themes_path, class: '' do %>
    <div class="dashboard-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
            <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
            <g><g><path d="M135.7,702.9c-49.1-71.3-78-157.5-78-250.6C57.7,208.1,255.7,10,500,10c244.3,0,442.3,198.1,442.3,442.3c0,93.1-28.9,179.3-78,250.6c30.2-57.2,47.3-122.2,47.3-191.4c0-227.2-184.2-411.6-411.6-411.6c-227.4,0-411.6,184.3-411.6,411.6C88.4,580.7,105.7,645.7,135.7,702.9z M741.7,464.9c0-133.4-108.2-241.7-241.7-241.7c-133.5,0-241.7,108.3-241.7,241.7c0,40,10.6,77,27.7,110.1c-6-20.3-10.3-41.4-10.3-63.6c0-123.8,100.3-224.2,224.3-224.2c124,0,224.3,100.4,224.3,224.2c0,22.2-4.1,43.3-10.2,63.6C731.1,541.8,741.7,504.8,741.7,464.9z M500,391.5c-40.5,0-73.3,32.8-73.3,73.3c0,40.6,32.8,73.4,73.3,73.4c40.5,0,73.3-32.8,73.3-73.4C573.3,424.3,540.5,391.5,500,391.5z M328.9,990L416,574.4h168L671.2,990h-47.7l-14.5-69.9H391.2L376.6,990H328.9z M433.9,716.2h132.3l-20-95.3h-92.4L433.9,716.2z M400.9,873.5h198.2l-23.2-110.7H424L400.9,873.5z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g>
        </svg>
    </div>
    <p>Start</p>
  <% end %>
