<div class="backstage">
    <%= render 'backstage/sidebar' %>

    <section id="main-dashboard-content">
      <section id="top-section">
        <h1>Backstage::Biography#edit</h1>
      </section>
      <section id="grid-container">
        <%= render 'form', biography: @biography %>
      </section>
    </section>
</div>
