    <div class="hidden-xs col-sm-6 col-md-4 pull-right text-right">
        <div class="ct-post-sharing hidden-xs">
        <div class="row">
            <div class="col-xs-4">
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" data-platform="facebook" class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-fb" title="Share on Facebook"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="col-xs-4">
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" data-platform="twitter" class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-tw" title="Tweet on Twitter"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="col-xs-4">
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" data-platform="linkedin" class="ct-ctrl-share ct-btn ct-btn-block ct-btn-short ct-btn-s-in" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        </div>
    </div>
