  <div class="col-lg-8" id="blogroll">
  <% if(!params.has_key?(:page) )%>
    <%= render partial: "blog/entries/entry", 
        collection: Blog::Entry.featured_2nd_and_3rd, 
        as: :entry %>      
    
    <% end %>
    
    <%= render @blog_entries %>
    
      <%== render partial: '/shared/pagy/nav', locals: {pagy: @pagy} %>
  </div>
<!-- finish blogroll -->