<%# this substitution is to preserve layout %>

<section class="ct-billboard-wrapper ct-post-feature">
            <article class="ct-billboard">
                <div class="ct-billboard-poster" style="opacity: 1;">
                        <img src="https://via.placeholder.com/1400x1120" alt="">
                </div>
                <div class="ct-billboard-postwrap">
                    <div class="ct-post-container container">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <h1 class="ct-ctrl-title ct-liner-simple ct-post-title">
                                    Default Title
                                </h1>
                            </div>
                            <div class="col-sm-6 text-left">
                                <h5 class="ct-h-slab ct-post-date">
                                    <%#= time_ago_in_words(entry.created_at) %> 30 years ago                                    
                                    <span class="middot">·</span>
                                    0 min read                                
                                </h5>
                                    
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam 
                                    eveniet culpa vero beatae iusto, deserunt vel obcaecati odio optio quas sint 
                                    rerum sit facilis perspiciatis quidem voluptatum. Neque, sunt beatae!
                                </p>
                                <div class="text-right">
                                        Read More &gt;&gt;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>