    <div class="ct-widget clearfix">
      <div class="ct-widget-mailinglist sidebar">
        <h2 class="h1 text-right"></h2>
        <p>Subscribe <span class="nobreak">for access</span> <span class="nobreak">to exclusive</span> content.</p>
        <div class="ct-form">
          <div class="ct-widget-alert">
            <span class="message">Lorem Ipsum Dolor Test</span><a class="ct-widget-ctrl close"
                 href="#alert:dismiss">×</a>
          </div>
          <form id="ct-mc-sidebar"
                name="ct-mc-sidebar">
            <div class="clear text-right">
              <a class="ct-btn ct-btn-red"
                   href="http://eepurl.com/LY3M5"
                   target="_blank">Subscribe</a>
            </div>
          </form>
        </div>
      </div>
    </div>
 
 
