
  <% if(params.has_key?("tag") )%>
    <%# do nothing %>
  <% elsif(params.has_key?("page") ) %>
    <%# do nothing %>
  <% else %>
    <%= render  partial: 'index_billboard', 
    locals: {entry: @billboard_entry} %>
  <% end %>

  <div class="ct-content-wrapper no-shadow">
    <div class="ct-page-wrapper container">
      <div class="row">
        <%= render 'blogroll' %>
        <%= render '/shared/aside' %>
      </div>
    </div>
  </div>