<%= render 'billboard' %>
  <div class="ct-content-wrapper no-shadow">
    <div class="ct-page-wrapper container">
      <div class="row">
        <%= render 'blogroll' %>
        <%= render '/shared/aside' %>
      </div>
    </div>
  </div>
