// body {
//   background-color: orange;
// }
h1,
h2,
.h1,
.h2 {
    font-family: "league-gothic", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
h1.hf-welter,
h2.hf-welter,
.h1.hf-welter,
.h2.hf-welter {
    font-family: "league-gothic", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3,
.h3 {
    font-family: "league-gothic", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
//
