


<div class="row">
  <div class="col-sm-6">
    <h1>Broadcaster_outlines</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_broadcaster_outline_path, class: 'btn btn-primary' do %>
    Add New Outline
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Body</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @broadcaster_outlines.each do |broadcaster_outline| %>
        <%= content_tag :tr, id: dom_id(broadcaster_outline), class: dom_class(broadcaster_outline) do %>
          

                      <td><%= broadcaster_outline.body %></td>
          
          
            <td><%= link_to 'Show', broadcaster_outline %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
