<style>

</style>

  <div class="col-sm-8 col-sm-push-1 col-md-8 col-md-push-1">
    <!-- wrap -->
    <div class="ct-flex-row"
         id="flex-module-0">
      <h2 class="h1 ct-liner-half">About <%= "#{@first_time.first_name} #{@first_time.last_name}" %></h2>
    </div>
    <div class="ct-flex-row"
         id="flex-module-1">
      <p><%= @first_time.biography %></p>
    </div>
    <div class="ct-flex-row"
         id="flex-module-2">
      <h2 class="h1 ct-liner-half">Must Watch Video</h2>
    </div>
    <div class="ct-flex-row"
         id="flex-module-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allowfullscreen="allowfullscreen"
             frameborder="0"
             height="315"
             src="<%= @first_time.featured_youtube_video_url %>"
             width="560"></iframe>
      </div>
    </div>
    <div class="ct-flex-row">
      <div class="ct-flex--wiki ct-wiki-item clearfix ct-wiki-expandable opened"
           id="flex-module-4">
        <h4 class="ct-wiki-title has-ctrl"><a class="ct-wiki-expand-ctrl"
           href="#flex-module-4|toggle">What You Should Read First
        <div class="ct-wiki-exp-icon"></div></a></h4>
        <div class="ct-wiki-content">
          <div class="ct-first-time-grid">
            <%= render  partial: "first_time_entry", 
              collection: @first_time.first_time_entries.all, 
              as: :first_time_entry %>          
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <div class="ct-articleunit ct-articleunit-pg"
                   id="post-7713">
                <div class="ct-articleunit-content">
                  <div class="ct-articleunit-thumb">
                    <a href="https://www.garyvaynerchuk.com/how-to-tell-a-story-on-social-media/"
                         target=""><img alt=""
                         class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                         sizes="(max-width: 400px) 100vw, 400px"
                         src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171212220003/coverimage1-400x234.jpg"
                         srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171212220003/coverimage1-400x234.jpg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171212220003/coverimage1-300x175.jpg 300w"></a>
                  </div>
                  <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/how-to-tell-a-story-on-social-media/"
                     target="">How to Tell a Story on Social Media</a></h3>
                </div>
                <div class="ct-articleunit-footer">
                  <span class="ct-articuleunit-date">Mar 12, 2019</span> <a href="https://www.garyvaynerchuk.com/how-to-tell-a-story-on-social-media/"
                       target="">Read More &gt;&gt;</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ct-articleunit ct-articleunit-pg"
                   id="post-7360">
                <div class="ct-articleunit-content">
                  <div class="ct-articleunit-thumb">
                    <a href="https://www.garyvaynerchuk.com/my-life-legacy/"
                         target=""><img alt=""
                         class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                         sizes="(max-width: 400px) 100vw, 400px"
                         src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170725182329/legacy-cover-collage-400x234.jpg"
                         srcset=
                         "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170725182329/legacy-cover-collage-400x234.jpg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170725182329/legacy-cover-collage-300x175.jpg 300w"></a>
                  </div>
                  <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/my-life-legacy/"
                     target="">My Life &amp; Legacy</a></h3>
                </div>
                <div class="ct-articleunit-footer">
                  <span class="ct-articuleunit-date">Jul 25, 2017</span> <a href="https://www.garyvaynerchuk.com/my-life-legacy/"
                       target="">Read More &gt;&gt;</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <div class="ct-articleunit ct-articleunit-pg"
                   id="post-7495">
                <div class="ct-articleunit-content">
                  <div class="ct-articleunit-thumb">
                    <a href="https://www.garyvaynerchuk.com/how-to-taste-wine/"
                         target=""><img alt=""
                         class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                         sizes="(max-width: 400px) 100vw, 400px"
                         src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170927235530/cover-400x234.jpg"
                         srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170927235530/cover-400x234.jpg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20170927235530/cover-300x175.jpg 300w"></a>
                  </div>
                  <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/how-to-taste-wine/"
                     target="">How to Taste Wine</a></h3>
                </div>
                <div class="ct-articleunit-footer">
                  <span class="ct-articuleunit-date">Sep 28, 2017</span> <a href="https://www.garyvaynerchuk.com/how-to-taste-wine/"
                       target="">Read More &gt;&gt;</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ct-articleunit ct-articleunit-pg"
                   id="post-7643">
                <div class="ct-articleunit-content">
                  <div class="ct-articleunit-thumb">
                    <a href="https://www.garyvaynerchuk.com/mindset/"
                         target=""><img alt=""
                         class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                         sizes="(max-width: 400px) 100vw, 400px"
                         src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171115220405/MINDSET-400x234.jpg"
                         srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171115220405/MINDSET-400x234.jpg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171115220405/MINDSET-300x175.jpg 300w"></a>
                  </div>
                  <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/mindset/"
                     target="">My Content is a Mindset!</a></h3>
                </div>
                <div class="ct-articleunit-footer">
                  <span class="ct-articuleunit-date">Nov 17, 2017</span> <a href="https://www.garyvaynerchuk.com/mindset/"
                       target="">Read More &gt;&gt;</a>
                </div>
              </div>
            </div>
          </div>
        </div><!-- gv wiki content w/in post-ref -->
      </div>
    </div><!-- flex-module wiki -->
  </div>
