<div id="post-<%= first_time_entry.id %>" class="ct-articleunit ct-articleunit-pg">
    <div class="ct-articleunit-content">
        <div class="ct-articleunit-thumb">
            <%= link_to first_time_entry.article_link do %>
                <%= image_tag first_time_entry.article_image_url, class: "attachment-ad-unit-size size-ad-unit-size wp-post-image" %>
            <% end %>                    
        </div>

        <h3 class="h2 ct-liner-simple">
            <a href="https://www.garyvaynerchuk.com/how-to-start/" target="">
                How To Start                    </a>
        </h3>
    </div>
    <div class="ct-articleunit-footer">
        <span class="ct-articuleunit-date">Aug 24, 2017</span>
        <a href="https://www.garyvaynerchuk.com/how-to-start/" target="">
            Read More &gt;&gt;
        </a>
    </div>
</div>