<p><span style="font-weight: 400;">I’ve always talked about how the</span> <a href="https://www.garyvaynerchuk.com/rise-audio-voice/"><span style="font-weight: 400;">future will be audio and voice focused.</span></a></p>
<p><span style="font-weight: 400;">The same way I felt about social media in 2006/7/8, I feel about podcasting, audio and voice today in 2019. On my global top 100 iTunes podcast The GaryVee Audio Experience, you’ll hear episodes of my
favorite series called the #</span><a href="https://www.youtube.com/askgaryvee"><span style="font-weight: 400;">AskGaryVee Show</span></a><span style="font-weight: 400;">, a mix of my best highlights from my</span> <a href=
"https://www.youtube.com/garyvee"><span style="font-weight: 400;">DAILYVEE</span></a> <span style="font-weight: 400;">documentary video series, keynote speeches on marketing and business, interviews, fireside chats, and any of my new and
current thoughts that I record specifically for this audio experience!</span></p>
<p><span style="font-weight: 400;">To listen to</span> <a href="https://itunes.apple.com/us/podcast/the-garyvee-audio-experience/id928159684?mt=2"><span style="font-weight: 400;">The GaryVee Audio Experience</span></a> <span style=
"font-weight: 400;">on Google Home, simply say “Ok Google, listen to The GaryVee Audio Experience Podcast.” The same works for the Amazon</span></p>
<p><span style="font-weight: 400;">Alexa, Echo and Show.</span></p>
<p><span style="font-weight: 400;">Leave a review on iTunes and let me know what you think &lt;3!</span></p>
