          <div class="ct-flex-row">
            <div class="ct-flex--wiki ct-wiki-item clearfix ct-wiki-expandable opened"
                 id="flex-module-2">
              <h4 class="ct-wiki-title has-ctrl"><a class="ct-wiki-expand-ctrl"
                 href="#flex-module-2|toggle">What you should listen to first
              <div class="ct-wiki-exp-icon"></div></a></h4>
              <div class="ct-wiki-content">
                <div class="row form-group">
                  <div class="col-md-6">
                    <div class="ct-articleunit ct-articleunit-pg"
                         id="post-7703">
                      <div class="ct-articleunit-content">
                        <div class="ct-articleunit-thumb">
                          <a href="https://www.garyvaynerchuk.com/the-airplane-project/"
                               target=""><img alt=""
                               class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                               sizes="(max-width: 400px) 100vw, 400px"
                               src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171211012541/article-template-400x234.png"
                               srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171211012541/article-template-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171211012541/article-template-300x175.png 300w"></a>
                        </div>
                        <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/the-airplane-project/"
                           target="">The Airplane Project</a></h3>
                      </div>
                      <div class="ct-articleunit-footer">
                        <span class="ct-articuleunit-date">Dec 11, 2017</span> <a href="https://www.garyvaynerchuk.com/the-airplane-project/"
                             target="">Read More &gt;&gt;</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="ct-articleunit ct-articleunit-pg"
                         id="post-7697">
                      <div class="ct-articleunit-content">
                        <div class="ct-articleunit-thumb">
                          <a href="https://www.garyvaynerchuk.com/ray-dalio-principles-evolution-bridgewater-associates-meditation-askgaryvee-275/"
                               target=""><img alt=""
                               class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                               sizes="(max-width: 400px) 100vw, 400px"
                               src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171207213111/AGV_RayDalio_Thumb_v001.jpg-400x234.jpeg"
                               srcset=
                               "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171207213111/AGV_RayDalio_Thumb_v001.jpg-400x234.jpeg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20171207213111/AGV_RayDalio_Thumb_v001.jpg-300x175.jpeg 300w"></a>
                        </div>
                        <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/ray-dalio-principles-evolution-bridgewater-associates-meditation-askgaryvee-275/"
                           target="">Ray Dalio, Principles, The Evolution of Bridgewater Associates, &amp; Meditation | #AskGaryVee 275</a></h3>
                      </div>
                      <div class="ct-articleunit-footer">
                        <span class="ct-articuleunit-date">Dec 08, 2017</span> <a href="https://www.garyvaynerchuk.com/ray-dalio-principles-evolution-bridgewater-associates-meditation-askgaryvee-275/"
                             target="">Read More &gt;&gt;</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-6">
                    <div class="ct-articleunit ct-articleunit-pg"
                         id="post-7957">
                      <div class="ct-articleunit-content">
                        <div class="ct-articleunit-thumb">
                          <a href="https://www.garyvaynerchuk.com/how-to-start-a-podcast/"
                               target=""><img alt=""
                               class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                               sizes="(max-width: 400px) 100vw, 400px"
                               src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180227231506/howtostartapodcast-3-400x234.png"
                               srcset=
                               "https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180227231506/howtostartapodcast-3-400x234.png 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180227231506/howtostartapodcast-3-300x175.png 300w"></a>
                        </div>
                        <h3 class="h2 ct-liner-simple"><a href="https://www.garyvaynerchuk.com/how-to-start-a-podcast/"
                           target="">How to Start a Podcast</a></h3>
                      </div>
                      <div class="ct-articleunit-footer">
                        <span class="ct-articuleunit-date">Feb 22, 2018</span> <a href="https://www.garyvaynerchuk.com/how-to-start-a-podcast/"
                             target="">Read More &gt;&gt;</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- gv wiki content w/in post-ref -->
            </div>
          </div><!-- flex-module wiki -->
