<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <title></title>
</head>
<body class="<%= body_css_class %>">
  <div aria-describedby="cookieconsent:desc"
      aria-label="cookieconsent"
      aria-live="polite"
      class="cc-window cc-floating cc-type-info cc-theme-edgeless cc-bottom cc-left cc-color-override--1588655054 cc-invisible"
      role="dialog"
      style="display: none;">
  <!--googleoff: all-->
  <span class="cc-message"
        id="cookieconsent:desc">
        This website uses cookies to ensure you get the best experience on our website. 
        <a aria-label="learn more about cookies"
        class="cc-link"
        href="https://www.gocarlgo.com/privacy-policy/"
        rel="noopener noreferrer nofollow"
        role="button"
        tabindex="0"
        target="_blank">Learn more
      </a>
    </span>
    <div class="cc-compliance">
      <a aria-label="dismiss cookie message"
          class="cc-btn cc-dismiss"
          role="button"
          tabindex="0">Got it!</a>
    </div>
    <!--googleon: all-->
  </div>

  <div class="fb_reset"
       id="fb-root">
    <div style="position: absolute; top: -10000px; width: 0px; height: 0px;"></div>
  </div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml: true,
        version: 'v4.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script> 
  
  <!-- Your customer chat code -->
  <!--
  <div class="fb-customerchat"
    attribution=setup_tool
    page_id="51535068349"
    theme_color="#115740"
    logged_in_greeting="Thank you so much for being a part of my community! Xoxo"
    logged_out_greeting="Thank you so much for being a part of my community! Xoxo">
  </div>
  -->
  <!-- Facebook Pixel Code -->

  <script>

  !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
           n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
           'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '380822665420224');
   fbq('track', 'PageView');
  </script> 
  
  <noscript>
    <img height="1"
       src="https://www.facebook.com/tr?id=380822665420224&ev=PageView&noscript=1"
       style="display:none"
       width="1">
  </noscript> <!-- End Facebook Pixel Code -->
   <!-- Global site tag (gtag.js) - Google Ads: 998150423 --> 

  <script async
        src="https://www.googletagmanager.com/gtag/js?id=AW-998150423"></script> 
  <script>

  window.dataLayer = window.dataLayer || []; 
  function gtag(){dataLayer.push(arguments);} 
  gtag('js', new Date()); 
  gtag('config', 'AW-998150423'); 
  </script> <!-- Cookie Consent Code -->
  <link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"
        rel="stylesheet"
        type="text/css">
  <script data-cfasync="false"
        src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script> 
  <script>

  window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#216942",
      "text": "#b2d192"
    },
    "button": {
      "background": "#afed71"
    }
  },
  "theme": "edgeless",
  "position": "bottom-left",
  "content": {
    "href": "https://www.gocarlgo.com/privacy-policy/"
  }
  });
  </script> 
  
  <!-- End Coookie Consent Code -->

  <%# real code below %>
  <div class="ct-body-wrapper">
    <%= render 'shared/navbar' %>

         <section class="gv-billboard-wrapper gv-post-feature" style="margin-top: 0px; margin-bottom: 0px; opacity: 1;">
            <article class="gv-billboard">
                <div class="gv-billboard-poster">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1.png 1400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-250x200.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-768x614.png 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-700x560.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20191113205121/CONTENTDECK_ARTICLEIMAGESArtboard-1-120x96.png 120w" sizes="(max-width: 1400px) 100vw, 1400px">                </div>
                <div class="gv-billboard-postwrap">
                    <div class="gv-post-container container">
                        <div class="row clearfix gv-post-sharemeta">
                            <div class="col-sm-6 col-md-7 gv-post-tags">
                                <a href="https://www.garyvaynerchuk.com/category/business/" class="link-blue">#Business</a>
                                <a href="https://www.garyvaynerchuk.com/category/content/" class="link-blue">#Content</a>
                                <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                                    Share <i class="fas fa-share"></i>
                                </a>
                            </div>
                            <div class="hidden-xs col-sm-6 col-md-4 pull-right text-right">
                                <div class="gv-post-sharing hidden-xs">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <h1 class="gv-ctrl-title gv-liner-simple gv-post-title">
                                    <a href="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/">
                                        How To Make 64 Pieces Of Content In A Day                                    </a>
                                </h1>
                            </div>
                            <div class="col-sm-6 text-left">
                                <h5 class="gv-h-slab gv-post-date">
                                    11 months ago                                    <span class="middot">·</span>
                                    2 min read                                </h5>
                                <p>
                                    
In my continued efforts to bring the most value to the entrepreneurs, operators, and marketers of the world, today on my 44th birthday, I’m releasing a deck that the team and I have worked on extensively over the last couple of months.&nbsp;



                                </p>
                                <div class="text-right">
                                    <a href="https://www.garyvaynerchuk.com/how-to-create-64-pieces-of-content-in-a-day/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
            <div class="gv-content-wrapper no-shadow">
            <div class="gv-page-wrapper container">
                <div class="row">
                    <div id="blogroll" class="col-md-8">
    <article id="post-8321" class="gv-post post-8321 post type-post status-publish format-standard has-post-thumbnail hentry category-social-media tag-content-creation tag-content-distribution tag-content-marketing tag-content-production tag-content-strategy tag-gary-vaynerchuk-social-media-marketing tag-gary-vaynerchuk-social-media-strategy tag-garyvee-content-model tag-garyvee-social-media-marketing tag-garyvee-social-media-strategy tag-social-media tag-social-media-marketing tag-social-media-optimization tag-social-media-strategy">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-700x560.png" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-700x560.png 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-250x200.png 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-768x614.png 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180803182618/Blog-posts-new-120x96.png 120w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/social-media/" class="link-blue">#Social Media</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/">The GaryVee Content Strategy: How to Grow and Distribute Your Brand’s Social Media Content</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    2 years ago                    <span class="middot">·</span>
                    3 min read                </h5>
                <p>
                    Mastering content strategy, creation, and distribution for your brand on social media is a difficult and long process. But, in an effort to provide you guys with as much value as possible, I'm going to...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/the-garyvee-content-strategy-how-to-grow-and-distribute-your-brands-social-media-content/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10810" class="gv-post post-10810 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/ask-garyvee-how-to-build-your-first-business/">
                    <img src="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/buildyr-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/buildyr-700x560.jpeg 700w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/buildyr-250x200.jpeg 250w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/buildyr-768x614.jpeg 768w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/buildyr-120x96.jpeg 120w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/buildyr.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/uncategorized/" class="link-blue">#Uncategorized</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/ask-garyvee-how-to-build-your-first-business/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/ask-garyvee-how-to-build-your-first-business/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/ask-garyvee-how-to-build-your-first-business/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/ask-garyvee-how-to-build-your-first-business/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/ask-garyvee-how-to-build-your-first-business/">Ask GaryVee: How To Build Your First Business</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    4 days ago                    <span class="middot">·</span>
                    6 min read                </h5>
                <p>
                    
Recently, I’ve received a lot of questions. Although some vary, many are similar. Questions like, how do I start my first business or how do I keep a new business afloat. People want to build and I get it. Times are hard and businesses are trying to find new ways...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/ask-garyvee-how-to-build-your-first-business/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10803" class="gv-post post-10803 post type-post status-publish format-standard has-post-thumbnail hentry category-company-culture category-entrepreneurship category-life-lessons">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/why-you-should-put-your-employees-first-a-conversation-with-arthur-blank/">
                    <img src="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_240E23EB69A3-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_240E23EB69A3-1-700x560.jpeg 700w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_240E23EB69A3-1-250x200.jpeg 250w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_240E23EB69A3-1-768x614.jpeg 768w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_240E23EB69A3-1-120x96.jpeg 120w, https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_240E23EB69A3-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/company-culture/" class="link-blue">#Company Culture</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-you-should-put-your-employees-first-a-conversation-with-arthur-blank/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-you-should-put-your-employees-first-a-conversation-with-arthur-blank/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-you-should-put-your-employees-first-a-conversation-with-arthur-blank/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-you-should-put-your-employees-first-a-conversation-with-arthur-blank/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/why-you-should-put-your-employees-first-a-conversation-with-arthur-blank/">Why You Should Put Your Employees First:  A <span class="force-smaller">Conversation</span> With Arthur Blank</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    5 days ago                    <span class="middot">·</span>
                    5 min read                </h5>
                <p>
                    
It’s clear that employee first businesses will win in the next decade. Tides are changing and people are evolving to value what really matters. There is no way for CEOs and business leaders to win if they don’t understand this shift. More than a new thing or random part of...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/why-you-should-put-your-employees-first-a-conversation-with-arthur-blank/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10797" class="gv-post post-10797 post type-post status-publish format-standard has-post-thumbnail hentry category-life-lessons category-marketing category-personal-development category-personal-growth">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/why-now-is-the-time-to-follow-your-passion/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200925213733/IMG_F9BCA0DCFE34-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200925213733/IMG_F9BCA0DCFE34-1-700x560.jpeg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200925213733/IMG_F9BCA0DCFE34-1-250x200.jpeg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200925213733/IMG_F9BCA0DCFE34-1-768x614.jpeg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200925213733/IMG_F9BCA0DCFE34-1-120x96.jpeg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200925213733/IMG_F9BCA0DCFE34-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/life-lessons/" class="link-blue">#Life Lessons</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-now-is-the-time-to-follow-your-passion/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-now-is-the-time-to-follow-your-passion/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-now-is-the-time-to-follow-your-passion/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/why-now-is-the-time-to-follow-your-passion/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/why-now-is-the-time-to-follow-your-passion/">Why Now Is The Time To Follow Your Passion</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 25, 2020                    <span class="middot">·</span>
                    7 min read                </h5>
                <p>
                    
Following your dreams always seems like a risk. As time grows increasingly uncertain, fulfilling a lifelong passion and pursuing a long held goal may feel frivolous or selfish. However, such ideas aren’t always right.



...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/why-now-is-the-time-to-follow-your-passion/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10794" class="gv-post post-10794 post type-post status-publish format-standard has-post-thumbnail hentry category-personal-development category-personal-growth category-talks">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/discovering-authenticity-with-vegan-foodie-tabitha-brown/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200924172938/IMG_8F0455670F8F-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200924172938/IMG_8F0455670F8F-1-700x560.jpeg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200924172938/IMG_8F0455670F8F-1-250x200.jpeg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200924172938/IMG_8F0455670F8F-1-768x614.jpeg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200924172938/IMG_8F0455670F8F-1-120x96.jpeg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200924172938/IMG_8F0455670F8F-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/personal-development/" class="link-blue">#Personal Development</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/discovering-authenticity-with-vegan-foodie-tabitha-brown/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/discovering-authenticity-with-vegan-foodie-tabitha-brown/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/discovering-authenticity-with-vegan-foodie-tabitha-brown/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/discovering-authenticity-with-vegan-foodie-tabitha-brown/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/discovering-authenticity-with-vegan-foodie-tabitha-brown/">Discovering <span class="force-smaller">Authenticity</span> with Vegan Foodie Tabitha Brown</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 24, 2020                    <span class="middot">·</span>
                    5 min read                </h5>
                <p>
                    
Who’s ready for self discovery?



Recently, Gary had the pleasure of speaking with Tabitha Brown, vegan foodie and actress known for her positive, bubbly personality. She also happens to have over three million followers, across her social media platforms. Notably, she gained over one million TikTok followers in only thirty days....                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/discovering-authenticity-with-vegan-foodie-tabitha-brown/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10775" class="gv-post post-10775 post type-post status-publish format-standard has-post-thumbnail hentry category-askgaryvee">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/7-answers-to-7-questions-from-my-linkedin-qa/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200922135501/IMG_D8A290A7D819-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200922135501/IMG_D8A290A7D819-1-700x560.jpeg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200922135501/IMG_D8A290A7D819-1-250x200.jpeg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200922135501/IMG_D8A290A7D819-1-768x614.jpeg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200922135501/IMG_D8A290A7D819-1-120x96.jpeg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200922135501/IMG_D8A290A7D819-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/askgaryvee/" class="link-blue">#AskGaryVee</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/7-answers-to-7-questions-from-my-linkedin-qa/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/7-answers-to-7-questions-from-my-linkedin-qa/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/7-answers-to-7-questions-from-my-linkedin-qa/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/7-answers-to-7-questions-from-my-linkedin-qa/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/7-answers-to-7-questions-from-my-linkedin-qa/">7 Answers To 7 Questions From My LinkedIn Q&amp;A</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 22, 2020                    <span class="middot">·</span>
                    1 min read                </h5>
                <p>
                    
What's up VaynerNation.







I did a Q&amp;A on LinkedIn a few weeks ago, check out the highlights!



                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/7-answers-to-7-questions-from-my-linkedin-qa/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10770" class="gv-post post-10770 post type-post status-publish format-standard has-post-thumbnail hentry category-askgaryvee category-content-marketing">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-700x560.jpeg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-250x200.jpeg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-768x614.jpeg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-120x96.jpeg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/askgaryvee/" class="link-blue">#AskGaryVee</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/">The Definition Of A Post Creative Strategist</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 18, 2020                    <span class="middot">·</span>
                    9 min read                </h5>
                <p>
                    




I don’t always make predictions, but I’m so excited to be at the forefront of what I perceive as a massive shift in the modern ad agency. I believe a “post creative strategist” is necessary for any brand that wants to curate and cultivate exceptional, on-brand content.&nbsp;



At VaynerMedia, we’re hoping...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10766" class="gv-post post-10766 post type-post status-publish format-standard has-post-thumbnail hentry category-askgaryvee category-personal-development category-personal-growth">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/how-to-handle-negative-comments/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200915194435/IMG_1ED437DE90A8-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200915194435/IMG_1ED437DE90A8-1-700x560.jpeg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200915194435/IMG_1ED437DE90A8-1-250x200.jpeg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200915194435/IMG_1ED437DE90A8-1-768x614.jpeg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200915194435/IMG_1ED437DE90A8-1-120x96.jpeg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200915194435/IMG_1ED437DE90A8-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/askgaryvee/" class="link-blue">#AskGaryVee</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-handle-negative-comments/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-handle-negative-comments/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-handle-negative-comments/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-handle-negative-comments/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/how-to-handle-negative-comments/">How To Handle Negative Comments</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 15, 2020                    <span class="middot">·</span>
                    5 min read                </h5>
                <p>
                    
Whether you are a public figure or not, you’re always going to have to deal with people’s opinions of your work. Sometimes, it will be valid; other times, it won’t. Judge the judger, before you let their opinion get to you. Regardless of who is giving you the praise, or...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/how-to-handle-negative-comments/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10758" class="gv-post post-10758 post type-post status-publish format-standard has-post-thumbnail hentry category-entrepreneurship category-marketing">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/no-marketing-budget-use-sweat-not-coins/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200911202120/IMG_605B98CA23C6-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200911202120/IMG_605B98CA23C6-1-700x560.jpeg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200911202120/IMG_605B98CA23C6-1-250x200.jpeg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200911202120/IMG_605B98CA23C6-1-768x614.jpeg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200911202120/IMG_605B98CA23C6-1-120x96.jpeg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200911202120/IMG_605B98CA23C6-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/entrepreneurship/" class="link-blue">#Entrepreneurship</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/no-marketing-budget-use-sweat-not-coins/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/no-marketing-budget-use-sweat-not-coins/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/no-marketing-budget-use-sweat-not-coins/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/no-marketing-budget-use-sweat-not-coins/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/no-marketing-budget-use-sweat-not-coins/">No Marketing Budget? Use Sweat, not Coins.</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 11, 2020                    <span class="middot">·</span>
                    3 min read                </h5>
                <p>
                    
I know there’s a wide variety of people who read this blog. It’s similar to my audience from the Marketing For The Now series; we have everyone from second year art students to CMOs. We also have a lot of entrepreneurs, and a lot of them have the same question...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/no-marketing-budget-use-sweat-not-coins/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10744" class="gv-post post-10744 post type-post status-publish format-standard has-post-thumbnail hentry category-askgaryvee category-content-marketing category-social-media">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/how-to-make-quality-micro-content/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200910154646/IMG_DAD3AAB5AD2E-1-700x560.jpeg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200910154646/IMG_DAD3AAB5AD2E-1-700x560.jpeg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200910154646/IMG_DAD3AAB5AD2E-1-250x200.jpeg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200910154646/IMG_DAD3AAB5AD2E-1-768x614.jpeg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200910154646/IMG_DAD3AAB5AD2E-1-120x96.jpeg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200910154646/IMG_DAD3AAB5AD2E-1.jpeg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/askgaryvee/" class="link-blue">#AskGaryVee</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-make-quality-micro-content/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-make-quality-micro-content/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-make-quality-micro-content/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/how-to-make-quality-micro-content/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/how-to-make-quality-micro-content/">How To Make Quality Micro Content</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 10, 2020                    <span class="middot">·</span>
                    3 min read                </h5>
                <p>
                    
The term “micro content” is something I started using three or four years ago. The notion was: content made specifically for the platform. You know, the videos, the pictures, the quotes, the written words that work on Facebook, Twitter, Tumblr, Pinterest, Instagram, Snapchat, and TikTok.&nbsp;



It was the context of the...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/how-to-make-quality-micro-content/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
<article id="post-10739" class="gv-post post-10739 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-social-media category-tech">
    <div class="gv-post-img">
                    <a href="https://www.garyvaynerchuk.com/what-is-day-trading-attention/">
                    <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200908205629/Article_Sep8_Regular-700x560.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200908205629/Article_Sep8_Regular-700x560.jpg 700w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200908205629/Article_Sep8_Regular-250x200.jpg 250w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200908205629/Article_Sep8_Regular-768x614.jpg 768w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200908205629/Article_Sep8_Regular-120x96.jpg 120w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200908205629/Article_Sep8_Regular.jpg 1400w" sizes="(max-width: 700px) 100vw, 700px">        </a>
    </div>
    <div class="row clearfix gv-post-sharemeta">
        <div class="col-sm-5 col-md-6 gv-post-tags">
                    <a href="https://www.garyvaynerchuk.com/category/business/" class="link-blue">#Business</a>
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/what-is-day-trading-attention/" class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block">
                Share <i class="fas fa-share"></i>
            </a>
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 pull-right text-right">
            <div class="gv-post-sharing hidden-xs">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/what-is-day-trading-attention/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/what-is-day-trading-attention/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw" title="Tweet on Twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" data-permalink="https://www.garyvaynerchuk.com/what-is-day-trading-attention/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                            <a href="https://www.garyvaynerchuk.com/what-is-day-trading-attention/">What Is “Day Trading Attention”?</a>
                        </h1>
        </div>
        <div class="col-sm-6 text-left">
                            <h5 class="gv-h-slab gv-post-date">
                    Sep 08, 2020                    <span class="middot">·</span>
                    4 min read                </h5>
                <p>
                    
As a leader in the marketing world, Gary’s typically a “first mover” when it comes to the platforms he’s on, marketing strategies he implements, and even the words he uses. Terms like “micro content” and “underpriced attention” might seem daunting at first, but we’re here to help you understand what...                </p>
                <p>
                    <a href="https://www.garyvaynerchuk.com/what-is-day-trading-attention/" class="gv-post-permalink link-blue">Read More &gt;&gt;</a>
                </p>
                    </div>
    </div>
</article>
                <div class="gv-pagination-wrapper">
                    <div class="gv-pagination collapse-right">
    <span aria-current="page" class="page-numbers current">1</span><a class="page-numbers" href="https://www.garyvaynerchuk.com/blog/page/2/">2</a><a class="page-numbers" href="https://www.garyvaynerchuk.com/blog/page/3/">3</a><a class="page-numbers" href="https://www.garyvaynerchuk.com/blog/page/4/">4</a><a class="page-numbers" href="https://www.garyvaynerchuk.com/blog/page/5/">5</a><span class="page-numbers dots">…</span><a class="page-numbers" href="https://www.garyvaynerchuk.com/blog/page/102/">102</a><a class="next page-numbers" href="https://www.garyvaynerchuk.com/blog/page/2/">&gt;&gt;</a></div>
                </div>
            </div> <!-- #blogroll -->
            <div class="col-md-4 gv-global-sidebar">
                           <div class="gv-widget clearfix">
            <div class="gv-widget-mailinglist sidebar">
                <h2 class="h1 text-right">
                    <p>Subscribe 
                    <span class="nobreak">for access</span> 
                    <span class="nobreak">to exclusive</span> content.</p>
</h2>
                <div class="gv-form">
                    <form name="gv-mc-sidebar">
                        <div class="clear text-right">
                            <a href="https://connect.gocarlgo.com/connect-with-go-carl-go" target="_blank" class="gv-btn gv-btn-red">Subscribe</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="gv_widgets_socialprops-2" class="gv-widget gv-widget-socialprops clearfix text-center"><div class="sidebar-c-5">            <span class="wrap-social-item">
                <a class="sp-circle sp-facebook" href="http://facebook.com/gary" alt="" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-youtube" href="https://www.youtube.com/user/garyvaynerchuk?sub_confirmation=1" alt="" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-instagram" href="http://instagram.com/garyvee" alt="" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-twitter" href="http://twitter.com/garyvee" alt="" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="sp-circle sp-snapchat" href="http://snapchat.com/add/garyvee" alt="" target="_blank">
                    <i class="fa fa-snapchat"></i>
                </a>
            </span>
        </div></div>        <div class="gv-widget gv-widget-articleunit">
            <div class="gv-articleunit">
                <h4 class="gv-h-welter50 text-right">
                    Must Read                </h4>
                <div class="gv-articleunit-content">
                    <div class="gv-articleunit-thumb">
                        <a href="https://www.garyvaynerchuk.com/the-rise-of-audio-branding/">
                            <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20190203155101/AudioBranding_BLOG_IMG-400x234.jpeg" class="attachment-ad-unit-size size-ad-unit-size wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20190203155101/AudioBranding_BLOG_IMG-400x234.jpeg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20190203155101/AudioBranding_BLOG_IMG-300x175.jpeg 300w" sizes="(max-width: 400px) 100vw, 400px">                        </a>
                    </div>
                    <h3 class="h2 gv-liner-simple">
                        <a href="https://www.garyvaynerchuk.com/the-rise-of-audio-branding/">
                            The Rise of Audio Branding                        </a>
                    </h3>
                </div>
                <div class="gv-articleunit-footer">
                    <span class="gv-articuleunit-date">
                        Feb 03, 2019                    </span>
                    <a href="https://www.garyvaynerchuk.com/the-rise-of-audio-branding/">
                        Read Now &gt;&gt;                    </a>
                </div>
            </div>
        </div>
            <div class="gv-widget gv-widget-articleunit">
            <div class="gv-articleunit">
                <h4 class="gv-h-welter50 text-right">
                    Must Read                </h4>
                <div class="gv-articleunit-content">
                    <div class="gv-articleunit-thumb">
                        <a href="https://www.garyvaynerchuk.com/the-top-20-podcasts-from-the-garyvee-audio-experience/">
                            <img src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180924202018/top20podcasts_article_thumbnailArtboard_1-400x234.jpg" class="attachment-ad-unit-size size-ad-unit-size wp-post-image" alt="" srcset="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180924202018/top20podcasts_article_thumbnailArtboard_1-400x234.jpg 400w, https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20180924202018/top20podcasts_article_thumbnailArtboard_1-300x175.jpg 300w" sizes="(max-width: 400px) 100vw, 400px">                        </a>
                    </div>
                    <h3 class="h2 gv-liner-simple">
                        <a href="https://www.garyvaynerchuk.com/the-top-20-podcasts-from-the-garyvee-audio-experience/">
                            The Top 20 Podcasts From The GaryVee Audio Experience                        </a>
                    </h3>
                </div>
                <div class="gv-articleunit-footer">
                    <span class="gv-articuleunit-date">
                        Sep 21, 2018                    </span>
                    <a href="https://www.garyvaynerchuk.com/the-top-20-podcasts-from-the-garyvee-audio-experience/">
                        Read Now &gt;&gt;                    </a>
                </div>
            </div>
        </div>
            <div class="clearfix"></div>
        <div class="gv-widget gv-widget-events theme-black">
            <h3 class="h1">
                Upcoming Events            </h3>
            <div class="event-listing">
            
                <div class="clearfix event event-2-col">
                                        <a href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 gv-h-welter50">
                                Dec                            </div>
                            <div class="h2 gv-h-welter50">
                                09                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">Sage Summit US 2020</h3>
                            <h4 class="event-location">Orlando, FL</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2" class="event-linker" target="_blank">
                            </a><a href="https://events.sage.com/profile/web/index.cfm?PKwebID=0x42767513&amp;varPage=home&amp;utm_source=twitter_baa8ecb0-b576-494d-9a6b-00a4d9cf04ec&amp;utm_medium=social%20network&amp;utm_campaign=NPS_FY20_DGSO_owned_summit#anchor2" target="_blank" class="gv-btn gv-btn-blue gv-btn-block">Info</a>
                        </div>
                                                            </div>
            
                <div class="clearfix event event-2-col">
                                        <a href="http://garyveeinlondon.com" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 gv-h-welter50">
                                Jan                            </div>
                            <div class="h2 gv-h-welter50">
                                09                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">Create Your Own Economy</h3>
                            <h4 class="event-location">London, UK</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="http://garyveeinlondon.com" class="event-linker" target="_blank">
                            </a><a href="http://garyveeinlondon.com" target="_blank" class="gv-btn gv-btn-blue gv-btn-block">Info</a>
                        </div>
                                                            </div>
            
                <div class="clearfix event event-2-col">
                                        <a href="https://nobull2020.com/" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 gv-h-welter50">
                                Apr                            </div>
                            <div class="h2 gv-h-welter50">
                                08                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">The No Bull Business Conference</h3>
                            <h4 class="event-location">Syracuse, NY</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="https://nobull2020.com/" class="event-linker" target="_blank">
                            </a><a href="https://nobull2020.com/" target="_blank" class="gv-btn gv-btn-blue gv-btn-block">Info</a>
                        </div>
                                                            </div>
            
                <div class="clearfix event event-2-col">
                                        <a href="https://arecconference.com.au/" class="event-linker" target="_blank">
                                            <div class="widget-event-date text-center">
                            <div class="h3 gv-h-welter50">
                                May                            </div>
                            <div class="h2 gv-h-welter50">
                                31                            </div>
                        </div>
                        <div class="widget-event-title">
                            <h3 class="event-title">AREC 2021 – Via Video Conference</h3>
                            <h4 class="event-location">Gold Coast, Australia</h4>
                        </div>
                                                </a><div class="widget-event-info"><a href="https://arecconference.com.au/" class="event-linker" target="_blank">
                            </a><a href="https://arecconference.com.au/" target="_blank" class="gv-btn gv-btn-blue gv-btn-block">Info</a>
                        </div>
                                                            </div>
                        </div>
            <div class="event-widget-footer text-center">
                                                <a href="#" id="cal-reply-subscribe" class="gv-btn gv-btn-blue gv-btn-block" target="_blank" title="Subscribe on CalReply">
                    <i class="fa fa-calendar-check-o hidden-md"></i>&nbsp;&nbsp;Get Notifications
                </a>
                            </div>
                    </div>
                </div>
        </div><!-- .row -->
    </div><!--! page-wrapper -->
</div><!-- content-wrapper -->
<div id="gv-mobile-share" class="gv-overlay gv-overlay-black">
    <div class="social-container">
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="facebook" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-facebook" title="Share on Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="twitter" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-twitter" title="Share on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="linkedin" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-linkedin" title="Share on LinkedIn">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="pinterest" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-pinterest" title="Share on Pinterest">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="googleplus" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-google" title="Share on Google+">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="reddit" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-reddit" title="Share on Reddit">
                    <i class="fa fa-reddit"></i>
                </a>
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="stumble" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-stumble" title="Share on StumbleUpon">
                    <i class="fa fa-stumbleupon"></i>
                </a>
                <a href="#" data-permalink="https://www.garyvaynerchuk.com/blog/" data-platform="email" class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-email" title="Email Us">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        <a href="#gv-mobile-share|modal-close" class="gv-modal-ctrl gv-close gv-close-gray">×</a>
</div>
        <div id="gv-main-footer" class="gv-widget-wrapper gv-widget-fulllength gv-footer">
            <div class="container">
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="gv-mark-type">
                            <a href="https://www.garyvaynerchuk.com" class="no-hover">Gary<br>Vaynerchuk</a>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-9 gv-nav-footer">
                        <ul id="menu-footer-menu" class="menu"><li id="menu-item-2095" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2095"><a href="/">Home</a></li>
<li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-81"><a href="https://www.garyvaynerchuk.com/blog/" aria-current="page">Blog</a></li>
<li id="menu-item-7096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7096"><a href="https://www.garyvaynerchuk.com/podcast/">Podcast</a></li>
<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="https://www.garyvaynerchuk.com/events/">Events</a></li>
<li id="menu-item-6593" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6593"><a href="http://search.garyvaynerchuk.com">GaryVee Search Engine</a></li>
<li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="https://www.garyvaynerchuk.com/media-appearances/">Recent Press</a></li>
<li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="https://www.garyvaynerchuk.com/books/">Books</a></li>
<li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="https://www.garyvaynerchuk.com/hire-me/">Hire Me to Speak</a></li>
<li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="https://www.garyvaynerchuk.com/biography/">My Story</a></li>
<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="https://www.garyvaynerchuk.com/press-kit/">Press Kit</a></li>
<li id="menu-item-6528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6528"><a href="https://www.garyvaynerchuk.com/first-time-here/">First Time Here</a></li>
<li id="menu-item-8066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8066"><a href="https://www.garyvaynerchuk.com/wallpapers/">Wallpapers</a></li>
</ul>                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                                                <h6 class="gv-h-slab gv-h-slab-normal gv-h-grey">Keep in Touch</h6>
                            <div id="gv_widgets_socialprops-4" class="gv-widget gv-widget-socialprops clearfix text-left"><div class="sidebar-c-7">            <span class="wrap-social-item">
                <a class="hover-social sp-instagram" href="http://instagram.com/garyvee" alt="" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="hover-social sp-youtube" href="https://www.youtube.com/user/garyvaynerchuk?sub_confirmation=1" alt="" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="hover-social sp-facebook" href="http://facebook.com/gary" alt="" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="hover-social sp-twitter" href="http://twitter.com/garyvee" alt="" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="hover-social sp-snapchat" href="http://snapchat.com/add/garyvee" alt="" target="_blank">
                    <i class="fa fa-snapchat"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="hover-social sp-linkedin" href="https://www.linkedin.com/in/garyvaynerchuk" alt="" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </span>
                    <span class="wrap-social-item">
                <a class="hover-social sp-mobile" href="https://www.garyvaynerchuk.com/podcast" alt="" target="_blank">
                    <i class="fa fa-mobile"></i>
                </a>
            </span>
        </div></div>                                            </div>
                    <div class="col-sm-12 col-md-8 col-md-push-1">
                                                           <div class="gv-widget-mailinglist horizontal">
            <div class="gv-form">
                <div class="gv-widget-alert"><span class="message">Lorem Ipsum Dolor Test</span><a href="#alert:dismiss" class="gv-widget-ctrl close">×</a></div>                <form name="gv-mc-horizontal">
                    <div class="row">
                        <h5 class="gv-h-slab gv-h-slab-normal text-center hidden-md">
                            Get all my best stuff in your inbox.                        </h5>
                        <div style="width: 100%;display: flex;align-items: center;justify-content: center;">
                            <a href="https://connect.gocarlgo.com/connect-with-go-carl-go" target="_blank" class="gv-btn gv-btn-red">Subscribe</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
                                                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-md-6 gv-footer-fineprint">
                        <p>©Gary Vee IP, LLC 2018<br>
<a href="https://www.garyvaynerchuk.com/privacy-policy/">Privacy&nbsp;Policy |</a><a href="https://www.garyvaynerchuk.com/terms-of-use/">&nbsp;Terms of Use</a></p>
                    </div>
                </div>
            </div>
        </div>
	   <div id="gv-search" class="gv-overlay gv-overlay-white">
    <div class="container">
        <a href="#gv-search|modal-close" class="gv-close gv-close-gray gv-modal-ctrl">×</a>
        <div class="search-form clearfix">
            <form class="search" method="get" action="https://www.garyvaynerchuk.com" role="search">
                <button class="gv-btn gv-btn-white search-submit" type="submit" role="button">
                    <i class="fa fa-search"></i>
                </button>
                <input class="search-input" type="search" name="s" placeholder="Type Here">
            </form>
        </div>
    </div>
</div>                       <div id="overlay_39" class="gv-overlay gv-overlay-black">
                                        <div class="video-container">
                        <a href="#overlay_39|modal-close" class="gv-modal-ctrl gv-close gv-close-gray">×</a>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="overlay_39_player" src="https://www.youtube.com/embed/YeXBBWqKpgc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>    <div class="pixels">
<!-- hellobar -->
<!-- <script type="text/javascript" src="//my.hellobar.com/27166323abab29e804f4300fb5f2c8ccabd39f0d.js" async="async"></script> -->
<!--amazon-->
<script type="text/javascript">var _pix = document.getElementById('_pix_id');if (!_pix) { var protocol = '//'; var a = Math.random() * 1000000000000000000; _pix = document.createElement('img'); _pix.setAttribute('src', protocol + 's.amazon-adsystem.com/iu3?d=forester-did&ex-fargs=%3Fid%3D3370dd22-4f4d-2909-8938-a5f1f87f2bc8%26type%3D55%26m%3D1&ex-fch=416613&ex-src=www.garyvaynerchuk.com/books/&ex-hargs=v%3D1.0%3Bc%3D1148382647783%3Bp%3D3370DD22-4F4D-2909-8938-A5F1F87F2BC8' + '&cb=' + a); _pix.setAttribute('id','_pix_id'); document.body.appendChild(_pix);}</script><noscript> <img height='1' width='1' border='0' alt='' src='https://s.amazon-adsystem.com/iui3?d=forester-did&ex-fargs=%3Fid%3D3370dd22-4f4d-2909-8938-a5f1f87f2bc8%26type%3D55%26m%3D1&ex-fch=416613&ex-src=www.garyvaynerchuk.com/books/&ex-hargs=v%3D1.0%3Bc%3D1148382647783%3Bp%3D3370DD22-4F4D-2909-8938-A5F1F87F2BC8' /></noscript>
</div><img src="//s.amazon-adsystem.com/iu3?d=forester-did&amp;ex-fargs=%3Fid%3D3370dd22-4f4d-2909-8938-a5f1f87f2bc8%26type%3D55%26m%3D1&amp;ex-fch=416613&amp;ex-src=www.garyvaynerchuk.com/books/&amp;ex-hargs=v%3D1.0%3Bc%3D1148382647783%3Bp%3D3370DD22-4F4D-2909-8938-A5F1F87F2BC8&amp;cb=930266574645873900" id="_pix_id">    <script src="//www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="https://d3pqsunsz2jksl.cloudfront.net/scripts/v1/push.v1.0.0"></script>        <script src="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/themes/garysixteen/assets/js/vendor/plugins.min.js"></script>
    <script src="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/themes/garysixteen/assets/js/global.min.js?v=2"></script>


<script src="https://analytics.twitter.com/i/adsct?type=javascript&amp;version=1.1.0&amp;p_id=Twitter&amp;p_user_id=0&amp;txn_id=nuqhh&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;tpx_cb=twttr.conversion.loadPixels&amp;tw_document_href=https%3A%2F%2Fwww.garyvaynerchuk.com%2Fblog%2F" type="text/javascript"></script>
</body>
</html>